<%
    function format(x) {
        return (x > 9) ? x : "0" + x
    }
    function formatDate(timestamp){
        var x=new Date(timestamp);
        return x.getDate() +"/" + (x.getMonth() + 1) + "/" + x.getFullYear() + " " + format(x.getHours()) + ":" + format(x.getUTCMinutes()) + ":" + format(x.getUTCSeconds());
    }
    if(userData.length!=0 && JSON.stringify(userData) != "[]"){
        userData.forEach(function(data){%>
    <div class="col-sm-6 list-content" style="height: 120px;background-color: #fff;vertical-align: middle;border-radius: 8px;box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);margin-bottom: 20px;margin-right: 5%;width: 45%;">

        <div class="row">
            <div class="col-sm-2">
                <a href="/report-info/<%=data.dataValues.id_bao_cao%>" style="text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -2 512 512" width="60px" style="margin-top: 30px;"><path d="m448 508.800781-148.59375-92.800781h-267.40625c-17.671875 0-32-14.328125-32-32v-352c0-17.671875 14.328125-32 32-32h448c17.671875 0 32 14.328125 32 32v352c0 17.671875-14.328125 32-32 32h-32zm0 0" fill="#ff7761"/><g fill="#fff"><path d="m272 256h-32v-144c0-8.835938 7.164062-16 16-16s16 7.164062 16 16zm0 0"/><path d="m240 288h32v32h-32zm0 0"/></g></svg>
                </a>
            </div>
            <div class="col-sm-7" style="line-height: 1.5;">
                <a href="/report-info/<%=data.dataValues.id_bao_cao%>" style="text-decoration: none;">
                    <div class="title">
                        <h3><b><%=data.dataValues.tieu_de%></b></h3>
                    </div>
                </a>
                <div class="little-info" style="margin-top: 4px;margin-bottom: 5px;">
                    <span class="#" style="color: #252525;font-weight: 500;font-size: 15px;">
                  <span>Gửi bởi:&nbsp;</span>
                    <%console.log(data.dataValues.nguoi_dung.dataValues.id_nguoi_dung);%>
                        <a href="/host-profile/<%=data.dataValues.nguoi_dung.dataValues.id_nguoi_dung%>/1" style="text-decoration: none;color: #333;">
                            <%if ( data.dataValues.nguoi_dung.dataValues.ho_va_ten != null){%>
                                <%=  data.dataValues.nguoi_dung.dataValues.ho_va_ten %>
                                    <%} else {%>
                                        <%= data.dataValues.nguoi_dung.dataValues.ten_nguoi_dung %>
                                            <%}%>
                        </a>&nbsp;
                        </span>
                </div>
                <div class="info">
                    <span class="ngay" style="color: #252525;font-weight: 500;font-size: 15px;"><i class="fas fa-clock" style="color:#333;margin-right: 5px;">&nbsp;</i><span>Ngày gửi:&nbsp;</span><span><%=formatDate(data.dataValues.createdAt)%></span></span>

                </div>
            </div>
            <div class="col-sm-3">
                <div style="line-height: 1.5;margin-top: 50px;">
                    <a href="/admin/report-checked/<%= data.dataValues.id_bao_cao%>" style="text-decoration: none;color: #252525;font-weight: 900;">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" enable-background="new 0 0 512.063 512.063" height="18" viewBox="0 0 512.063 512.063" width="18" style="vertical-align: middle;"><g><g><ellipse cx="256.032" cy="256.032" fill="#00df76" rx="255.949" ry="256.032"/></g><path d="m256.032 0c-.116 0-.231.004-.347.004v512.055c.116 0 .231.004.347.004 141.357 0 255.949-114.629 255.949-256.032s-114.592-256.031-255.949-256.031z" fill="#00ab5e"/><path d="m111.326 261.118 103.524 103.524c4.515 4.515 11.836 4.515 16.351 0l169.957-169.957c4.515-4.515 4.515-11.836 0-16.351l-30.935-30.935c-4.515-4.515-11.836-4.515-16.351 0l-123.617 123.615c-4.515 4.515-11.836 4.515-16.351 0l-55.397-55.397c-4.426-4.426-11.571-4.526-16.119-.226l-30.83 29.149c-4.732 4.475-4.837 11.973-.232 16.578z" fill="#fff5f5"/><path d="m370.223 147.398c-4.515-4.515-11.836-4.515-16.351 0l-98.187 98.187v94.573l145.473-145.473c4.515-4.515 4.515-11.836 0-16.352z" fill="#dfebf1"/></g></svg>&nbsp;&nbsp;
                        Đã xử lý
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%})}%>