<div class="content">
    <div class="gallery">
        <%
        userData.hinh_anh.forEach(function(path_anh){
        %>
            <img id="gallery-img" class="gallery-img" src=<%=path_anh.dataValues.path_anh%>>
        <%}) %>

    </div>
    <div class="container wrap-content">
        <div class="row" style="margin-bottom: 50px;">
            <div>
                <button class="btn-like" style="float: left;"><i class="far fa-flag" style="margin-right: 5px;"></i><span class = "reaction" style="font-size: 16px;">Báo cáo</span></button>
                <span class="sao" style="color: #252525;font-weight: 500;float: right;margin-left: 10px;"><i class="fas fa-star" style="color: #ffb025;font-size: 15px;">&nbsp;&nbsp;</i><span style="font-weight: 900;font-size: 15px;">5&nbsp</span><span>(Số
                    lượt đánh giá)</span></span>
                <form name = "fav-post" action="/saveFavPost" method="post">
                    <input type="hidden" name="addFav_id_phong_tro" value= "<%= userData.phong_tro[0].dataValues.id_phong_tro %>">
                    <% if(user) %>
                      <input type="hidden" name="addFav_id_nguoi_dung" value= "<%= user.id_nguoi_dung %>">
                    <button type="submit" id = "fav-button" class="btn-like"><i class="far fa-heart"></i><span class = "reaction" style="font-size: 16px;">Thêm vào yêu thích</span></button>
                </form>
            </div>
            <br>
            <div class="col-sm-9" style="margin-top: 20px;">
                <div class="title" style="margin-bottom: 10px;">
                    <h2><b><%=userData.phong_tro[0].dataValues.phan_loai%> - <%=userData.phong_tro[0].dataValues.ten_phong%></b></h2>
                </div>
                <div class="author">
                    <span>Đăng bởi: <a href = "#" style="text-decoration: none;"><span class= "author-name" style="color: #222222;font-weight: 900;"><%=userData.phong_tro[0].dataValues.ten_nguoi_dung||userData.phong_tro[0].dataValues.id_nguoi_dung%></span></a>
                    </span>
                </div>
                <br>
                <div class="address-space">
                    <div class="address" style="margin-bottom: 10px;">
                        <i class="fas fa-map-marker-alt"></i>
                        <span style="font-weight: bold;"><%=userData.phong_tro[0].dataValues.thanh_pho%> - <%=userData.phong_tro[0].dataValues.quan_huyen%> - <%=userData.phong_tro[0].dataValues.phuong_xa%></span>
                    </div>
                    <div class="space">
                        <i class="fas fa-building"></i>
                        <span class="category" style="font-weight: bold;"><%=userData.phong_tro[0].dataValues.phan_loai%></span>
                        <span><b>·</b></span>
                        <span class="category space"><%=userData.phong_tro[0].dataValues.dien_tich%></span>
                        <span>m2</span>
                    </div>
                </div>
                <br>
                <div class="type">
                    <div class="loai-phong" style="margin-bottom: 10px;">
                        <span style="font-weight: bold;"><%=userData.phong_tro[0].dataValues.hinh_thuc_thue%></span>
                        <span><b>·</b></span>
                        <span style="font-weight: bold;"><%=userData.phong_tro[0].dataValues.phong_ngu%></span>
                        <span><b>·</b></span>
                        <span style="font-weight: bold;"><%=userData.phong_tro[0].dataValues.phong_tam%></span>
                        <span><b>·</b></span>
                        <span style="font-weight: bold;">Dành cho <span><%=userData.phong_tro[0].dataValues.tong_so_nguoi%></span></span>
                    </div>
                </div>
                <br>
                <div class="thong-tin" style="margin-bottom: 10px; word-wrap: break-word;font-size: 16px;">
                    <p><strong>Fanpage: Aimee House Xin chào! Chào bạn đã đến với AimeeHomestay dành riêng cho:</strong></p>
                    <p>+ Các cặp đôi đi du lịch ưa thích không gian "cá tính, hiện đại, lãng mạng, ấm cúng"</p>
                    <p>+ Những người đi công tác xa muốn được ở trong không gian "tiện nghi, rộng rãi, thân thuộc như ở nhà" AimeeHomestay của chúng tôi bao gồm:</p>
                    <p>- 5 phòng có giường đôi mềm mại thoải mái tạo cảm giác thư giãn sau những ồn ào của Phố thị</p>
                    <p>- Điều hoà 2 chiều - Phòng tắm rộng rãi, sạch sẽ, hiện đại, tiện nghi gồm:2 khăn tắm, sữa tắm, dầu gội, bàn chải, kem đánh răng, máy sấy </p>
                    <p>- Cafe, lipton, nước uống miễn phí cùng với ấm siêu tốc</p>
                    <p>- Phòng bếp đầy đủ tiện nghi: tủ lạnh, bếp hồng ngoại, lò nướng, lò vi sóng, bát đũa,... </p>
                    <p> - Wifi miễn phí - Có chỗ để xe máy</p>
                    <p>- Toạ lạc tại Phan Bội Châu đối diễn quán ăn nổi tiếng Quán Ngon và cách 5 phút đi bộ tới Tống Duy Tân.</p>
                </div>
                <br>
                <div class="tien-ich">
                    <div class="tien-ich" style="margin-bottom: 10px;">
                        <h3><b>Tiện ích, tiện nghi</b></h3>
                        <div class="row">
                            <%
                            for (let [key, value] of Object.entries(userData.tien_ich[0].dataValues)) {
                                if(key != "id_phong_tro" && key != "createdAt" && key != "updatedAt") {
                            %>
                              <%if(value != null){%>
                                <div class="col-sm-4" style="margin-bottom: 5px;font-weight: 900;"><%= value%></div>
                              <%}%>
                            <%}} %>
                        </div>
                    </div>
                </div>
                <br>
                <div class="noi-quy" style="margin-bottom: 50px;">
                    <h3><b>Nội quy và chính sách về chỗ ở</b></h3>
                    <div class="noi-quy-content">
                        <p style="font-weight: 700;margin-bottom: 10px;">Hạn chế làm ồn sau 11 giờ</p>
                        <p style="font-weight: 700;margin-bottom: 10px;">Không hút thuốc ở khu vực chung</p>
                        <p style="font-weight: 700;margin-bottom: 10px;">Không nuôi thú cưng trong phòng</p>
                    </div>
                </div>
                <div class="binh-luan" style="margin-bottom: 10px;">
                    <h3><b>Bình luận</b></h3>
                    <br>
                    <div class="binh-luan-cua-ban" style="border: 2px solid #f2f2f2;margin-bottom: 15px;border-radius: 8px;height: fit-content;">
                        <form action="/comment" method="post" style="padding: 10px;">
                            <div>
                                <label for="danh-gia" style="border-bottom: 2px solid #f2f2f2;margin-bottom: 20px; margin-right: 10px;">*Đánh giá của bạn</label>
                                <select name="rating" class="custom-select btn-ip" id="danh-gia" required data-bv-notempty-message="Không được để trống" style="width:120px;">
                                    <option value="" disabled selected hidden>Đánh giá</option>
                                    <option value="1">1 sao</option>
                                    <option value="2">2 sao</option>
                                    <option value="3">3 sao</option>
                                    <option value="4">4 sao</option>
                                    <option value="5">5 sao</option>
                                    </select>
                            </div>
                            <input type="hidden" name="id_phong_tro" value="<%= userData.phong_tro[0].id_phong_tro %>">
                            <div>
                                <label for="mota-thongtin" style="border-bottom: 2px solid #f2f2f2;">*Bình luận của bạn</label>
                                <br>
                                <span>
                                    <button type="button" class="btn btn-primary btn-function" id="btn-xuongdong" style="background-color: rgb(23, 202, 157);">Xuống dòng</button>
                                    <button type="button" class="btn btn-primary btn-function" id="btn-B" style="background-color: rgb(23, 202, 157);"><b>B</b></button>
                                    <button type="button" class="btn btn-primary btn-function" id="btn-I" style="background-color: rgb(23, 202, 157);"><i>I</i></button>
                                    <button type="button" class="btn btn-primary btn-function" id="btn-U" style="background-color: rgb(23, 202, 157);"><u>U</u></button>
                                    <button type="button" class="btn btn-primary btn-function" id="btn-remove" style="background-color: rgb(23, 202, 157);">Xóa tất cả</button>
                                    <button type="button" class="btn btn-primary btn-function" id="btn-display" style="background-color: rgb(23, 202, 157);">Hiển thị nội dung</button>
                                </span>
                                <br>
                                <textarea name="nd_binh_luan" class="form-control btn-ip" id="mota-thongtin" rows="4" required data-bv-notempty-message="Không được để trống" placeholder="Nhập thông tin ..."></textarea>
                                <div class="hien-thi" style="width:100%;height: fit-content;border-radius: 6px;margin-top: 12px;margin-bottom: 15px;background-color: rgba(61, 26, 26, 0.07);padding: 8px;"></div>
                            </div>
                            <br>
                            <div style="float: right;">
                                <button type="submit" class="btn btn-primary btn-function" id="button-submit">Gửi bình luận</button>
                            </div>
                            <br>
                        </form>
                    </div>
                    <% for(let b of userData.binh_luan) {%>
                      <div class="binh-luan" style="border-bottom: 2px solid #f2f2f2;margin-bottom: 10px;">
                          <div class="user-name" style="margin-bottom: 5px;font-weight: 900;"> <%= b.ten_nguoi_binh_luan %>
                              <span class="sao" style="color: #252525;font-weight: 500;float: right;margin-left: 10px;"><i class="fas fa-star" style="color: #ffb025;font-size: 15px;">&nbsp;&nbsp;</i><span style="font-weight: 900;font-size: 15px;"><%=b.rating %>&nbsp</span><span>(Điểm đánh giá)</span></span>
                          </div>
                          <% if( b.thoi_gian_dang >= 24){ %>
                              <% if( b.thoi_gian_dang/24 > 31){ %>
                                  <div class="time" style="margin-bottom: 10px;"> <%= b.thoi_gian_dang/31%> Tháng trước</div>
                              <% }%>
                              <div class="time" style="margin-bottom: 10px;"> <%= b.thoi_gian_dang/24%> Ngày trước</div>
                          <% }else if ( b.thoi_gian_dang < 1) { %>
                              <% if ( b.thoi_gian_dang*3600 <= 0) {%>
                                <div class="time" style="margin-bottom: 10px;"> Vừa xong</div>
                              <% }else{ %>
                                <div class="time" style="margin-bottom: 10px;"> <%= b.thoi_gian_dang*60%> Phút trước</div>
                              <% }%>
                          <% }else { %>
                            <div class="time" style="margin-bottom: 10px;"> <%= b.thoi_gian_dang%> Giờ trước</div>
                          <% }%>
                          <div class="comment"> <%= b.noi_dung %> </div>
                      </div>
                    <% } %>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dat-lich-room">
                    <div class="price">
                        <span><h2 style="font-weight: 900;"><%=userData.phong_tro[0].dataValues.gia_phong%>₫</h2><span>/tháng</span></span>
                    </div>
                    <br>
                    <div>
                        <a href="#" style="text-decoration: none;">
                            <button class="dat-lich">Đặt lịch</button>
                        </a>
                    </div>
                    <span style="line-height: 1.5;">Hoặc:</span>
                    <div>
                        <a href="#">
                            <button class="lien-he">Liên hệ trực tiếp</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('.gallery').slick({
            infinite: false,
            lazyLoad: 'ondemand',
            slidesToShow: 2.4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 990,
                settings: {
                    slidesToShow: 2
                }
            }]
        });
        $('.gallery-img').mouseenter(function() {
            $(this).addClass('is-hover');
        }).mouseleave(function() {
            $(this).removeClass('is-hover');
        })
        $('.gallery').mouseenter(function() {
            $(this).addClass('is-hover');
        }).mouseleave(function() {
            $(this).removeClass('is-hover');
        })
        $('#btn-xuongdong').on('click', function() {
            $('#mota-thongtin').val($('#mota-thongtin').val() + '<br>');
        })
        $('#btn-B').on('click', function() {
            $('#mota-thongtin').val($('#mota-thongtin').val() + '<b></b>');
        })
        $('#btn-I').on('click', function() {
            $('#mota-thongtin').val($('#mota-thongtin').val() + '<i></i>');
        })
        $('#btn-U').on('click', function() {
            $('#mota-thongtin').val($('#mota-thongtin').val() + '<u></u>');
        })
        $('#btn-remove').on('click', function() {
            $('#mota-thongtin').val('');
            $('.hien-thi').html('');
        })
        $('#btn-display').on('click', function() {
            $('.hien-thi').html($('#mota-thongtin').val());
        })
    });
</script>
