<form method="post" enctype="multipart/form-data" action=<%=action%>>
    <div class="col-sm-10"><span style="font-size: 18px;"><b>Tạo bài viết mới</b><br><br></div>
        <div class="col-sm-10">
        <div class="content">
            <div class="row" style="padding:40px;">
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thông tin cơ bản</b></div>
                <br>
                <div class="col-sm-6">
                    <label for="phan-loai">*Phân loại nơi cho thuê</label>
                    <select class="custom-select btn-ip" id="phan-loai-thue" name="phan_loai" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.id_phong_tro) { %>
                      <% console.log(phong_tro.phan_loai)%>
                      <option selected="selected" value="<%= phong_tro.phan_loai %>" disabled selected hidden> <%= phong_tro.phan_loai %></option>
                    <% }else{ %>
                      <option value="" disabled selected hidden>Chọn loại phòng</option>
                    <% }%>
                    <option value="Chung cư">Chung cư</option>
                    <option value="Phòng trọ">Phòng trọ</option>
                </select>
                </div>
                <div class="col-sm-6">
                    <label for="title">*Tên nhà trọ, chung cư</label>
                    <% if (phong_tro.id_phong_tro) { %>
                      <input name="ten_phong" type="text" id="title" class="form-control btn-ip" value="<%=phong_tro.ten_phong%>">
                    <% }else{ %>
                      <input name="ten_phong" type="text" id="title" class="form-control btn-ip" placeholder="Vui lòng nhập tiêu đề bài viết của bạn" required data-bv-notempty-message="Không được để trống">
                    <% }%>
                    <br>
                </div>
                <div class="col-sm-6">
                    <label for="phan-loai">*Hình thức cho thuê</label>
                    <select class="custom-select btn-ip" id="hinh-thuc" name="hinh_thuc_thue" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.id_phong_tro) { %>
                      <option value="<%= phong_tro.hinh_thuc_thue %>" disabled selected hidden> <%= phong_tro.hinh_thuc_thue %></option>
                    <% }else{ %>
                      <option value="" disabled selected hidden>Loại phòng dành cho</option>
                    <% }%>
                    <option value="Cá nhân">Cá nhân</option>
                    <option value="Tập thể">Tập thể</option>
                </select>
                </div>
                <div class="col-sm-6">
                    <label for="phan-loai">Khác (dành riêng cho phòng trọ)</label>
                    <select class="custom-select btn-ip" id="khac" name="phan_loai_khac" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.id_phong_tro) { %>
                      <option value="<%=phong_tro.phan_loai_khac %>" disabled selected hidden> <%= phong_tro.phan_loai_khac %></option>
                    <% }else{ %>
                      <option value="" disabled selected hidden>Chọn lựa chọn của bạn</option>
                    <% }%>
                    <option value="Ở chung với chủ nhà">Ở chung với chủ nhà</option>
                    <option value="Ở riêng với chủ nhà">Ở riêng với chủ nhà</option>
                </select>
                </div>
            </div>
        </div>
        </div>
    <div class="col-sm-10">
        <div style="height: 10px;"></div>
    </div>
    <div class="col-sm-10 address">
        <div class="content">
            <div class="row" style="padding:40px;">
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Địa chỉ</b></div>
                <br>
                <div class="col-sm-6">
                    <label for="city">*Tỉnh/ Thành phố</label>
                    <input name="thanh_pho" type="text" id="city" class="form-control btn-ip" data-meta="Field" value="Hà Nội" readonly="" tabindex="-1" required data-bv-notempty-message="Không được để trống">
                    <br>
                </div>
                <div class="col-sm-6">
                    <label for="huyen">*Quận/ Huyện </label>
                    <br>
                    <select name="quan_huyen" class="custom-select btn-ip" id="huyen" placeholder="Vui lòng chọn quận/huyện" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.quan_huyen) { %>
                      <option value="<%= phong_tro.quan_huyen%>" disabled selected hidden><%= phong_tro.quan_huyen%></option>
                    <% }else{%>
                      <option value="" disabled selected hidden>Lựa chọn Quận/Huyện</option>
                    <% }%>
                  </select>
                    <br><br>
                </div>
                <div class="col-sm-6">
                    <label for="xa">*Phường/ Xã </label>
                    <br>
                    <select name="phuong_xa" class="custom-select btn-ip" id="xa" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.phuong_xa) { %>
                      <option value="<%= phong_tro.phuong_xa %>" disabled selected hidden> <%= phong_tro.phuong_xa %></option>
                    <% }else{ %>
                      <option value="" disabled selected hidden>Lựa chọn Phường/Xã</option>
                    <% }%>
                  </select>
                </div>

                <div class="col-sm-6">
                    <label for="address">*Địa chỉ</label>
                    <% if (phong_tro.id_phong_tro) { %>
                      <input name="dia_chi_cu_the" type="text" id="address" class="form-control btn-ip" value="<%= phong_tro.dia_chi_cu_the %>">
                    <% }else{ %>
                      <input name="dia_chi_cu_the" type="text" id="address" class="form-control btn-ip" placeholder="Vui lòng nhập địa chỉ số nhà, tòa nhà, phố, ..." required data-bv-notempty-message="Không được để trống">
                    <% }%>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10">
        <div style="height: 10px;"></div>
    </div>

    <div class="col-sm-10 space">
        <div class="content">
            <div class="row" style="padding:40px;">
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Không gian phòng</b></div>
                <br>
                <div class="col-sm-6">
                    <label for="title">*Phòng trọ, chung cư của bạn có diện tích là? M2</label>
                    <% if (phong_tro.id_phong_tro) { %>
                      <input name="dien_tich" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.dien_tich %>">
                    <% }else{ %>
                      <input name="dien_tich" type="number" id="title" class="form-control btn-ip" placeholder="Vui lòng nhập diện tích căn phòng cho thuê của bạn" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                    <% }%>
                    <br>
                </div>
                <div class="col-sm-6">
                    <label for="title">*Phòng ngủ</label>
                    <% if (phong_tro.id_phong_tro) { %>
                      <input name="phong_ngu" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.phong_ngu %>">
                    <% }else{ %>
                      <input name="phong_ngu" type="number" id="title" class="form-control btn-ip" placeholder="Vui lòng nhập số phòng ngủ" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                    <% }%>
                    <br>
                </div>
                <div class="col-sm-6">
                    <label for="title">*Phòng tắm</label>
                    <% if (phong_tro.id_phong_tro) { %>
                      <input name="phong_tam" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.phong_tam%>">
                    <% }else{ %>
                      <input name="phong_tam" type="number" id="title" class="form-control btn-ip" placeholder="Vui lòng nhập số phòng tắm" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                    <% }%>
                    <br>
                </div>
                <div class="col-sm-3">
                    <label for="phan-loai">*Phòng khách</label>
                    <select name="phong_khach" class="custom-select btn-ip" id="phong-khach" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.id_phong_tro) { %>
                        <option value="<%= phong_tro.phong_khach%>" disabled selected hidden><%= phong_tro.phong_khach%></option>
                    <% }else{ %>
                        <option value="" disabled selected hidden>Chọn lựa chọn của bạn</option>
                    <% }%>
                    <option value="Không có phòng khách">Không có phòng khách</option>
                    <option value="Có phòng khách">Có phòng khách</option>
                </select>
                </div>
                <div class="col-sm-3">
                    <label for="phan-loai">*Phòng bếp</label>
                    <select name="phong_bep" class="custom-select btn-ip" id="phan-loai" required data-bv-notempty-message="Không được để trống">
                    <% if (phong_tro.id_phong_tro) { %>
                        <option value="<%= phong_tro.phong_bep%>" disabled selected hidden><%= phong_tro.phong_bep%></option>
                    <% }else{ %>
                        <option value="" disabled selected hidden>Chọn lựa chọn của bạn</option>
                    <% }%>
                    <option value="Không có phòng bếp">Không có phòng bếp</option>
                    <option value="Có phòng bếp">Có phòng bếp</option>
                </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10">
        <div style="height: 10px;"></div>
    </div>

    <div class="col-sm-10 utilities">
        <div class="content">
            <div class="row" style="padding:40px;">
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Tiện nghi</b></div>
                <br>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <% if (phong_tro.tien_ich_tien_nghi.wifi) { %>
                            <input checked name="wifi" class="form-check-input" type="checkbox" id="Wifi" value="Wifi" style="width:15px;height:15px;margin-right: 3px;">
                        <% }else{ %>
                            <input name="wifi" class="form-check-input" type="checkbox" id="Wifi" value="Wifi" style="width:15px;height:15px;margin-right: 3px;">
                        <% }%>
                        <label class="form-check-label" for="Wifi" style="vertical-align: middle;">Wifi</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <% if (phong_tro.tien_ich_tien_nghi.internet) { %>
                            <input checked name="internet" class="form-check-input" type="checkbox" id="Internet" value="Internet" style="width:15px;height:15px;margin-right: 3px;">
                        <% }else{ %>
                            <input name="internet" class="form-check-input" type="checkbox" id="Internet" value="Internet" style="width:15px;height:15px;margin-right: 3px;">
                        <% }%>
                        <label class="form-check-label" for="Internet" style="vertical-align: middle;">Internet</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <% if (phong_tro.tien_ich_tien_nghi.dieu_hoa) { %>
                            <input checked name="dieu_hoa" class="form-check-input" type="checkbox" id="Điều hòa" value="Điều hòa" style="width:15px;height:15px;margin-right: 3px;">
                        <% }else{ %>
                            <input name="dieu_hoa" class="form-check-input" type="checkbox" id="Điều hòa" value="Điều hòa" style="width:15px;height:15px;margin-right: 3px;">
                        <% }%>
                        <label class="form-check-label" for="Điều hòa" style="vertical-align: middle;">Điều hòa</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <% if (phong_tro.tien_ich_tien_nghi.tv) { %>
                            <input checked name="tv" class="form-check-input" type="checkbox" value="TV" id="TV" style="width:15px;height:15px;margin-right: 3px;">
                        <% }else{ %>
                            <input name="tv" class="form-check-input" type="checkbox" value="TV" id="TV" style="width:15px;height:15px;margin-right: 3px;">
                        <% }%>
                        <label class="form-check-label" for="TV" style="vertical-align: middle;">TV</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <% if (phong_tro.tien_ich_tien_nghi.quat) { %>
                            <input checked name="quat" class="form-check-input" type="checkbox" id="Quạt" value="Quạt" style="width:15px;height:15px;margin-right: 3px;">
                        <% }else{ %>
                            <input name="quat" class="form-check-input" type="checkbox" id="Quạt" value="Quạt" style="width:15px;height:15px;margin-right: 3px;">
                        <% }%>
                        <label class="form-check-label" for="Quạt" style="vertical-align: middle;">Quạt</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.nong_lanh) { %>
                          <input checked name="nong_lanh" class="form-check-input" type="checkbox" id="Bình nóng lạnh" value="Bình nóng lạnh" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="nong_lanh" class="form-check-input" type="checkbox" id="Bình nóng lạnh" value="Bình nóng lạnh" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Bình nóng lạnh" style="vertical-align: middle;">Bình nóng lạnh</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.may_giat) { %>
                          <input checked name="may_giat" class="form-check-input" type="checkbox" id="Máy giặt" value="Máy giặt" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="may_giat" class="form-check-input" type="checkbox" id="Máy giặt" value="Máy giặt" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Máy giặt" style="vertical-align: middle;">Máy giặt</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.tu_lanh) { %>
                          <input checked name="tu_lanh" class="form-check-input" type="checkbox" id="Tủ lạnh" value="Tủ lạnh" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="tu_lanh" class="form-check-input" type="checkbox" id="Tủ lạnh" value="Tủ lạnh" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Tủ lạnh" style="vertical-align: middle;">Tủ lạnh</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.gia_phoi_quan_ao) { %>
                          <input checked name="gia_phoi_quan_ao" class="form-check-input" type="checkbox" id="Giá phơi quần áo" value="Giá phơi quần áo" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="gia_phoi_quan_ao" class="form-check-input" type="checkbox" id="Giá phơi quần áo" value="Giá phơi quần áo" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Giá phơi quần áo" style="vertical-align: middle;">Giá phơi quần áo</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.cua_so) { %>
                          <input checked name="cua_so" class="form-check-input" type="checkbox" id="Cửa sổ" value="Cửa sổ" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="cua_so" class="form-check-input" type="checkbox" id="Cửa sổ" value="Cửa sổ" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Cửa sổ" style="vertical-align: middle;">Cửa sổ</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.ban_cong) { %>
                          <input checked name="ban_cong" class="form-check-input" type="checkbox" id="Ban công" value="Ban công" style="width:fit-content;height:fit-content;margin-right: 3px;">
                      <% }else{ %>
                          <input name="ban_cong" class="form-check-input" type="checkbox" id="Ban công" value="Ban công" style="width:fit-content;height:fit-content;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Ban công" style="vertical-align: middle;">Ban công</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.tu_quan_ao) { %>
                          <input checked name="tu_quan_ao" class="form-check-input" type="checkbox" id="Tủ quần áo" value="Tủ quần áo" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="tu_quan_ao" class="form-check-input" type="checkbox" id="Tủ quần áo" value="Tủ quần áo" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Tủ quần áo" style="vertical-align: middle;">Tủ quần áo</label>
                    </div>
                    <br>
                </div>
                <br>
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thiết bị an toàn</b></div>
                <br>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.coi_bao_chay) { %>
                          <input checked name="coi_bao_chay" class="form-check-input" type="checkbox" id="Còi báo cháy" value="Còi báo cháy" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="coi_bao_chay" class="form-check-input" type="checkbox" id="Còi báo cháy" value="Còi báo cháy" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Còi báo cháy" style="vertical-align: middle;">Còi báo cháy</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.binh_chua_chay) { %>
                        <input checked name="binh_chua_chay" class="form-check-input" type="checkbox" id="Bình chữa cháy" value="Bình chữa cháy" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                        <input name="binh_chua_chay" class="form-check-input" type="checkbox" id="Bình chữa cháy" value="Bình chữa cháy" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Bình chữa cháy" style="vertical-align: middle;">Bình chữa cháy</label>
                    </div>
                    <br>
                </div>
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Tiện ích</b></div>
                <br>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.thang_may) { %>
                          <input checked name="thang_may" class="form-check-input" type="checkbox" id="Thang máy" value="Thang máy" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="thang_may" class="form-check-input" type="checkbox" id="Thang máy" value="Thang máy" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Thang máy" style="vertical-align: middle;">Thang máy</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.thang_bo) { %>
                          <input checked name="thang_bo" class="form-check-input" type="checkbox" id="Thang bộ" value="Thang bộ" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="thang_bo" class="form-check-input" type="checkbox" id="Thang bộ" value="Thang bộ" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Thang bộ" style="vertical-align: middle;">Thang bộ</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.cho_do_rac) { %>
                          <input checked name="cho_do_rac" class="form-check-input" type="checkbox" id="Khu vực đổ rác" value="Khu vực đổ rác" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="cho_do_rac" class="form-check-input" type="checkbox" id="Khu vực đổ rác" value="Khu vực đổ rác" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Khu vực đổ rác" style="vertical-align: middle;">Khu vực đổ rác</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.tien_ich_tien_nghi.cho_de_xe) { %>
                          <input checked name="cho_de_xe" class="form-check-input" type="checkbox" id="Khu vực để xe" value="Khu vực để xe" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="cho_de_xe" class="form-check-input" type="checkbox" id="Khu vực để xe" value="Khu vực để xe" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Khu vực để xe" style="vertical-align: middle;">Khu vực để xe</label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10">
        <div style="height: 10px;"></div>
    </div>

    <div class="col-sm-10 policy">
        <div class="content">
            <div class="row" style="padding:40px;">
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thiết lập nội quy</b></div>
                <br>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.khong_lam_on) { %>
                          <input checked name="khong_lam_on" class="form-check-input" type="checkbox" id="Hạn chế làm ồn sau 11 giờ" value="Hạn chế làm ồn sau 11 giờ" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="khong_lam_on" class="form-check-input" type="checkbox" id="Hạn chế làm ồn sau 11 giờ" value="Hạn chế làm ồn sau 11 giờ" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Hạn chế làm ồn sau 11 giờ" style="vertical-align: middle;">Hạn chế làm ồn sau 11 giờ</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.khong_hut_thuoc) { %>
                          <input checked name="khong_hut_thuoc" class="form-check-input" type="checkbox" id="Không hút thuốc ở khu vực chung" value="Không hút thuốc ở khu vực chung" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="khong_hut_thuoc" class="form-check-input" type="checkbox" id="Không hút thuốc ở khu vực chung" value="Không hút thuốc ở khu vực chung" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Không hút thuốc ở khu vực chung" style="vertical-align: middle;">Không hút thuốc ở khu vực chung</label>
                    </div>
                    <br>
                </div>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                      <% if (phong_tro.khong_thu_cung) { %>
                          <input checked name="khong_thu_cung" class="form-check-input" type="checkbox" id="Không nuôi thú cưng trong phòng" value="Không nuôi thú cưng trong phòng" style="width:15px;height:15px;margin-right: 3px;">
                      <% }else{ %>
                          <input name="khong_thu_cung" class="form-check-input" type="checkbox" id="Không nuôi thú cưng trong phòng" value="Không nuôi thú cưng trong phòng" style="width:15px;height:15px;margin-right: 3px;">
                      <% }%>
                        <label class="form-check-label" for="Không nuôi thú cưng trong phòng" style="vertical-align: middle;">Không nuôi thú cưng trong phòng</label>
                    </div>
                    <br>
                </div>
                <br>
                <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thêm quy định mới</b></div>
                <br>

                <div class="col-md-12" style="margin-top: 0px; margin-bottom: 10px;">
                    <label for="mota">*Nội dung</label>
                                <br>
                                <% if (phong_tro.quy_dinh_khac) { %>
                                    <textarea name="quy_dinh_khac" class="form-control btn-ip" id="editor" rows="6" placeholder=""><%= phong_tro.quy_dinh_khac%></textarea>
                                    <% }else{ %>
                                        <textarea name="quy_dinh_khac" class="form-control btn-ip" id="editor" rows="6" placeholder="Thêm quy định ..."></textarea>
                                        <% }%>
                            </div>
                            </div>
                            </div>
                            </div>

                            <div class="col-sm-10">
                                <div style="height: 10px;"></div>
                            </div>

                            <div class="col-sm-10 policy">
                                <div class="content">
                                    <div class="row" style="padding:40px;">
                                        <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>*Thông tin nhà trọ</b></div>
                                        <br>

                                        <div class="col-md-12" style="margin-top: 0px; margin-bottom: 10px;">
                                            <label for="mota">*Nội dung</label>
                                            <br>

                                <% if (phong_tro.thong_tin_khac) { %>
                                    <textarea name="thong_tin_khac" class="form-control btn-ip" id="editor1" rows="6" required data-bv-notempty-message="Không được để trống" placeholder="" style="display: block;height: 0.5px;width: 0.5px;opacity: 0.001;"><%= phong_tro.thong_tin_khac%></textarea>
                                    <% }else{ %>
                                        <textarea name="thong_tin_khac" class="form-control btn-ip" id="editor1" rows="6" required data-bv-notempty-message="Không được để trống" placeholder="Nhập thông tin ..." style="display: block;height: 0.5px;width: 0.5px;opacity: 0.001;"></textarea>
                                        <% }%>

                            </div>
                            </div>
                            </div>
                            </div>

                            <div class="col-sm-10">
                                <div style="height: 10px;"></div>
                            </div>

                            <div class="col-sm-10 space">
                                <div class="content" >
                                    <div class="row" style="padding:40px;">
                                        <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Số người</b></div>
                                        <br>
                                        <div class="col-sm-6">
                                            <label for="title">*Người lớn</label>
                                            <% if (phong_tro.nguoi_lon) { %>
                                                <input name="nguoi_lon" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.nguoi_lon%>" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                <% }else{ %>
                                                    <input name="nguoi_lon" type="number" id="title" class="form-control btn-ip" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                    <% }%>
                                                        <br>
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="title">*Trẻ em (2 - 12 TUỔI)</label>
                                            <% if (phong_tro.tre_em) { %>
                                                <input name="tre_em" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.tre_em%>" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                <% }else{ %>
                                                    <input name="tre_em" type="number" id="title" class="form-control btn-ip" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                    <% }%>
                                                        <br>
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="title">*Trẻ em (dưới 2 tuổi)</label>
                                            <% if (phong_tro.tre_nho) { %>
                                                <input name="tre_nho" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.tre_nho%>" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                <% }else{ %>
                                                    <input name="tre_nho" type="number" id="title" class="form-control btn-ip" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                    <% }%>
                                                        <br>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="title">*Tổng số người</label>
                                            <% if (phong_tro.tong_so_nguoi) { %>
                                                <input name="tong_so_nguoi" type="number" id="title" class="form-control btn-ip" value="<%= phong_tro.tong_so_nguoi%>" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                <% }else{ %>
                                                    <input name="tong_so_nguoi" type="number" id="title" class="form-control btn-ip" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                                    <% }%>
                                                        <br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <div style="height: 10px;"></div>
                            </div>

                            <div class="col-sm-10 space">
                                <div class="content">
                                    <div class="row" style="padding:40px;">
                                        <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Giá trọ (VNĐ)/ 1 tháng</b></div>
                                        <br>
                                        <div class="col-sm-12">
                                            <label for="title" style="margin-bottom: 10px;">*Số tiền (VNĐ)</label>
                                            <% if (phong_tro.gia_phong) { %>
                                                <input name="gia_phong" type="text" id="gia_phong" class="form-control btn-ip" value="<%=phong_tro.gia_phong %>" min="0" oninput="convertPriceFormat(this.value)" required data-bv-notempty-message="Không được để trống">
                                            <% }else{ %>
                                                <input name="gia_phong" type="text" id="gia_phong" class="form-control btn-ip" placeholder="Nhập thông tin" min="0" oninput="convertPriceFormat(this.value)" required data-bv-notempty-message="Không được để trống">
                                            <%}%>
                                           <br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <div style="height: 10px;"></div>
                            </div>
                                <div class="col-sm-10 uploadimg">
                                    <div class="content">
                                        <div class="row" style="padding:40px;">
                                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Hình ảnh nhà trọ</b></div>
                                            <br>
                                            <div style="font-size: large;padding: 10px;"><b>Ảnh bìa</b></div>
                                            <div class="col-sm-12" style="margin-bottom: 30px;">
                                                <div class="row">
                                                    <div class="col-md-3 imgUp">
                                                        <img class="imagePreview" style="background-image: url(<%=phong_tro.path_anh_noi_bat%>);">
                                                        <label class="btn btn-primary" id="btn-upload">
                                                        Tải ảnh lên<input name = "image_avatar" type="file" class="uploadFile img" style="width: 0px;height: 0px;overflow: hidden;" >
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div style="font-size: large;padding: 10px;"><b>Ảnh phòng trọ, chung cư</b></div>
                                            <div class="col-sm-12">
                                                <div class="row">

                                                    <%for (let i = 0; i < Object.values(phong_tro.hinh_anhs).length; i++){%>
                                                        <div class="col-md-3 imgUp">
                                                            <img class="imagePreview" style="background-image: url(<%=phong_tro.hinh_anhs[i].path_anh%>);">
                                                            </img>
                                                            <label class="btn btn-primary" id="btn-upload">
                                                             Tải ảnh lên<input id="<%=phong_tro.hinh_anhs[i].id_anh%>" name = "update_image" type="file" class="uploadFile img" style="width: 0px;height: 0px;overflow: hidden;">
                                                            </label>
                                                        </div>

                                                    <%}%>

                                                    <%for (let i = 0; i < Object.values(phong_tro.hinh_anhs).length; i++){%>
                                                         <input name="order" id = "order<%=i%>" type="text" id="title" class="form-control btn-ip" style = "display : none">
                                                    <%}%>
                                                    <%for (let i = 0; i < Object.values(phong_tro.hinh_anhs).length; i++){console.log(phong_tro.hinh_anhs[i])%>
                                                        <script>
                                                            $(document).ready(function(){
                                                                $("#<%=phong_tro.hinh_anhs[i].id_anh%>").change(function(){
                                                                    $("#order<%=i%>").val('<%=phong_tro.hinh_anhs[i].id_anh%>')
                                                                })
                                                            });

                                                        </script>
                                                    <%}%>
                                                    </script>
                                                            <!-- col-2 -->
                                                            <i class="fa fa-plus-circle imgAdd" aria-hidden="true"></i>
                                                </div>
                                                <!-- row -->
                                            </div>
                                        </div>

                                        <div class="row" style="padding:30px; margin-top: -20px;">
                                            <div class="col-sm-6">
                                                <a href="/" style="text-decoration: none;">
                                                    <button type="button" class="btn btn-primary" id="button-submit"><span id = "text-btn"><strong>HỦY BỎ</strong></span></button>
        </a>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary" id="button-submit"><span id = "text-btn"><strong>LƯU THAY ĐỔI</strong></span></button>
    </div>
    </div>
    </div>
    </div>
</form>
