<%- include("template/user-head-profile"); -%>
    <%- include("template/user-navbar-profile" ,{user: user}); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-sm-2">
                    <span style="font-size: 12px;">Xin chào <%=user.ten_nguoi_dung %>,</span>
                    <br><br>
                    <a href="profile" style="text-decoration: none;">
                        <i class="fas fa-user-circle" style="color: hotpink;font-size: 19px;">&nbsp;</i><span style="color: #1A9CB7;font-size: 16px;"><b>Quản lý tài khoản</b></span>
                    </a>
                    <ul style="list-style: none;margin-left: -5px;">
                        <li>
                            <a href="profile-info" style="text-decoration: none;">
                                <span id="ul-li">Thông tin cá nhân</span>
                            </a>
                        </li>
                        <li>
                            <a href="profile-change-password" style="text-decoration: none;">
                                <span id="ul-li">Đổi mật khẩu</span>
                            </a>
                        </li>
                        <li>
                            <a href="profile-address" style="text-decoration: none;">
                                <span id="ul-li">Địa chỉ</span>
                            </a>
                        </li>
                    </ul>
                    <a href="#" style="text-decoration: none;">
                        <i class="fas fa-bell" style="color: rgb(255, 30, 0);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Thông báo</b></span>
                    </a>
                    <br><br>
                    <a href="#" style="text-decoration: none;">
                        <i class="fas fa-clipboard" style="color: rgb(0, 195, 255);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Bài đã đăng</b></span>
                    </a>
                    <br><br>
                    <a href="post" style="text-decoration: none;">
                        <i class="far fa-edit" style="color: rgb(255, 0, 98);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Tạo bài viết mới</b></span>
                    </a>
                </div>
                <div class="col-sm-10">
                    <span style="font-size: 17px;"><b>Quản lý thông tin</b></span>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-6 wrap-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <br>
                                    <div style="padding: 16px;">
                                        <span style="font-size: 16px;"><b>Thông tin cá nhân</b></span>
                                        <span style="color: #dadada;">|</span>
                                        <a href="profile-edit" style="text-decoration: none;">
                                            <span style="font-size: 12px;color: #1A9CB7;">Chỉnh sửa</span>
                                        </a>
                                        <br>
                                        <br>
                                        <div class="info-iten" style="font-size: 14px;margin-bottom: 8px;">Tên đăng nhập: <strong><%=user.ten_nguoi_dung %></strong> </div>
                                        <div class="info-iten" style="font-size: 14px;margin-bottom: 8px;">Email: <strong><%=user.email %></strong> </div>
                                        <div class="info-iten" style="font-size: 14px;">SĐT: <strong><%=user.sdt %></strong> </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-6 wrap-content">
                            <br>
                            <div style="padding: 16px;">
                                <span style="font-size: 16px;"><b>Thay đổi mật khẩu</b></span>
                                <span style="color: #dadada;">|</span>
                                <a href="profile-change-password" style="text-decoration: none;">
                                    <span style="font-size: 12px;color: #1A9CB7;">Chỉnh sửa</span>
                                </a>
                                <br>
                                <br>
                                <div class="info-iten" style="font-size: 14px;margin-bottom: 8px;">Chỉnh sửa mật khẩu của bạn</div>
                            </div>
                            <div style="padding: 16px; margin-top: -23px;">
                                <span style="font-size: 16px;"><b>Địa chỉ</b></span>
                                <span style="color: #dadada;">|</span>
                                <a href="profile-address" style="text-decoration: none;">
                                    <span style="font-size: 12px;color: #1A9CB7;">Chỉnh sửa</span>
                                </a>
                                <br>
                                <br>
                                <div class="info-iten" style="font-size: 14px;margin-bottom: 8px;"></div>
                            </div>
                        </div>

                        <br>
                    </div>

                </div>
            </div>
        </div>
        </div>