<%- include("partials/admin-head-control"); -%>
    <%- include("partials/admin-navbar-control"); -%>
        <div class="container" id="wrap-content">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-5" id="wrap-info">
                            <span id="title-item-profile">Tổng số thành viên</span>
                            <br>
                            <div class="proflie-item-info" style="font-size: 30px;"><b><%= userNum%></b></div>
                            <span id="title-item-profile">thành viên</span>
                            <br>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5" id="wrap-info">
                            <span id="title-item-profile">Tổng số bài đăng</span>
                            <br>
                            <div class="proflie-item-info" style="font-size: 30px;"><b><%= postNum%></b></div>
                            <span id="title-item-profile">bài</span>
                            <br>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5" id="wrap-info">
                            <span id="title-item-profile">Tổng số báo cáo</span>
                            <br>
                            <div class="proflie-item-info" style="font-size: 30px;"><b><%= reportNum%></b></div>
                            <span id="title-item-profile">báo cáo</span>
                            <br>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5" id="wrap-info">
                            <span id="title-item-profile">Tổng số thành viên bị xóa</span>
                            <br>
                            <div class="proflie-item-info" style="font-size: 30px;"><b>10</b></div>
                            <span id="title-item-profile">thành viên</span>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <%- include("partials/footer"); -%>
