<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản trị viên</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="/css/admin-navbar.css" rel="stylesheet">
    <link href="/css/admin-control-report-done.css" rel="stylesheet">
    <link href="/css/paginate.css" rel="stylesheet">
    <script src="../js/darkmode1-js.min.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<%- include("partials/admin-navbar-control"); -%>
    <div class="container" style="margin-top: 140px;">
        <% if(bao_cao.length != 0) {%>
            <h3 style="font-weight: 700;">Tổng số báo cáo cần xử lý:
                <%=bao_cao.length%>

            </h3>
            <div style="float: right;" style="margin-bottom: 30px;">
                <span class="wrap-nav-item">
    <a href = "/admin-control-report/1" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-1">
        Đang chờ xử lý
    </a>
</span>

                <span class="wrap-nav-item ">
    <a href = "#" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-2">
        Đã xử lý xong
    </a>
</span>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <%
    function format(x) {
        return (x > 9) ? x : "0" + x
    }
    function formatDate(timestamp){
        var x=new Date(timestamp);
        return x.getDate() +"/" + (x.getMonth() + 1) + "/" + x.getFullYear() + " " + format(x.getHours()) + ":" + format(x.getUTCMinutes()) + ":" + format(x.getUTCSeconds());
    }

    if(bao_cao.length!=0 && JSON.stringify(bao_cao) != "[]"){
        bao_cao.forEach(function(data){%>
                    <div class="col-sm-6 list-content">

                        <div class="row">
                            <div class="col-sm-2">
                                <a href="/report-info/<%=data.dataValues.id_bao_cao%>" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -2 512 512" width="60px" style="margin-top: 30px;"><path d="m448 508.800781-148.59375-92.800781h-267.40625c-17.671875 0-32-14.328125-32-32v-352c0-17.671875 14.328125-32 32-32h448c17.671875 0 32 14.328125 32 32v352c0 17.671875-14.328125 32-32 32h-32zm0 0" fill="#ff7761"/><g fill="#fff"><path d="m272 256h-32v-144c0-8.835938 7.164062-16 16-16s16 7.164062 16 16zm0 0"/><path d="m240 288h32v32h-32zm0 0"/></g></svg>
                                </a>
                            </div>
                            <div class="col-sm-7" style="line-height: 1.5;">
                                <a href="/report-info/<%=data.dataValues.id_bao_cao%>" style="text-decoration: none;">
                                    <div class="title">
                                        <h3><b>
                                      <%=data.dataValues.tieu_de%>
                                    </b></h3>
                                    </div>
                                </a>
                                <div class="little-info" style="margin-top: 4px;margin-bottom: 5px;">
                                    <span class="#" style="color: #252525;font-weight: 500;font-size: 15px;">
                  <span>Gửi bởi:&nbsp;</span>
                                    <a href="/host-profile/1" style="text-decoration: none;color: #333;">
                                        <%if (data.dataValues.nguoi_dung.dataValues.ho_va_ten != null){%>
                                            <%= data.dataValues.nguoi_dung.dataValues.ho_va_ten %>
                                                <%} else {%>
                                                    <%= data.dataValues.nguoi_dung.dataValues.ten_nguoi_dung %>
                                                        <%}%>
                                    </a>&nbsp;
                                    </span>
                                </div>
                                <div class="info">
                                    <span class="ngay" style="color: #252525;font-weight: 500;font-size: 15px;"><i class="fas fa-clock" style="margin-right: 5px;">&nbsp;</i><span>Ngày gửi:&nbsp;</span><span><%=formatDate(data.dataValues.createdAt)%></span></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <%})}%>
            </div>
            <%- include("partials/template/paginate"); -%>
    </div>
    <%}else{%>
        <div style="float: right;" style="max-resolution: res;-bottom: 30px;">
            <span class="wrap-nav-item">
            <a href = "/admin-control-report/1" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-1">
                Đang chờ xử lý
            </a>
        </span>

            <span class="wrap-nav-item ">
            <a href = "/admin-done-report/1" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-2">
                Đã xử lý xong
            </a>
        </span>
        </div>
        <div style="margin-top:120px;">
            <svg version="1.1" viewBox="0 0 1024 1024" class="svg-icon svg-fill" style="width: 150px; height: 150px;display:block;margin:auto;"><path fill="#999999" stroke="none" pid="0" d="M621.19 958.604H388.126a6.599 6.599 0 01-6.596-6.593 6.595 6.595 0 016.596-6.591H621.19a6.596 6.596 0 016.597 6.59 6.597 6.597 0 01-6.597 6.594m-23.043-806.172c-7.494 0-14.272-5.142-16.042-12.753l-13.087-56.19c-2.065-8.868 3.45-17.728 12.315-19.794 8.87-2.064 17.729 3.45 19.794 12.315l13.087 56.195c2.066 8.868-3.445 17.729-12.315 19.794a16.777 16.777 0 01-3.752.433M781.63 297.346a16.28 16.28 0 01-3.285-.331l-56.554-11.42c-8.922-1.8-14.696-10.496-12.897-19.422 1.805-8.925 10.501-14.696 19.425-12.894l56.557 11.419c8.92 1.8 14.696 10.5 12.894 19.422-1.583 7.827-8.456 13.226-16.14 13.226m-90.15-113.332c-4.748 0-9.46-2.038-12.72-5.983-5.796-7.02-4.807-17.413 2.209-23.21l48.497-40.065c7.02-5.801 17.407-4.811 23.208 2.209 5.802 7.016 4.808 17.408-2.208 23.209L701.97 180.24a16.421 16.421 0 01-10.49 3.774m159.24 728.215H461.919l272.528-98.782c16.884-6.119 30.374-18.444 37.988-34.712 7.612-16.267 8.431-34.524 2.312-51.409L757.08 678.59c-2.17-5.993-8.79-9.09-14.78-6.916-5.992 2.17-9.09 8.791-6.916 14.78l17.664 48.736c4.017 11.09 3.48 23.077-1.52 33.765-4.998 10.681-13.859 18.78-24.95 22.796l-306.69 111.167c-11.096 4.018-23.083 3.48-33.767-1.52-10.68-5-18.779-13.857-22.795-24.95l-169.46-467.526c-8.296-22.888 3.575-48.262 26.467-56.56l306.695-111.17c11.09-4.016 23.079-3.473 33.765 1.524 10.683 4.999 18.78 13.86 22.794 24.93l69.22 191.647c2.166 5.996 8.776 9.098 14.775 6.933 5.993-2.165 9.095-8.777 6.93-14.77l-69.225-191.658c-6.119-16.883-18.446-30.372-34.712-37.989-16.267-7.611-34.524-8.43-51.408-2.312l-306.7 111.168c-34.856 12.635-52.931 51.27-40.3 86.124l169.46 467.523c8.243 22.74 27.547 38.325 49.65 42.917a8.094 8.094 0 004.43 1.314h5.78a68.99 68.99 0 003.419.1c1.142 0 2.283-.038 3.428-.1H850.72a8.156 8.156 0 008.156-8.157 8.156 8.156 0 00-8.157-8.157M770.66 418.512l-17.924-9.729c-7.16-3.878-17.408 1.172-22.901 11.292l-149.18 274.957c-.664 1.224-1.007 2.574-.962 3.815l.976 30.42a4.74 4.74 0 00-1.384.3l-46.34 17.268a4.945 4.945 0 103.453 9.27l44.603-16.623.01.354c.11 3.356 2.869 4.851 5.738 3.112l35.08-21.24c1.062-.642 2.008-1.663 2.672-2.887l149.18-274.963c5.488-10.112 4.137-21.464-3.02-25.346M437.172 782.537l-34.008 12.675a4.941 4.941 0 00-2.906 6.36 4.946 4.946 0 004.634 3.22 4.894 4.894 0 001.727-.313l34.008-12.675a4.943 4.943 0 002.907-6.36 4.94 4.94 0 00-6.362-2.907m71.056-26.49l-46.34 17.274a4.946 4.946 0 103.455 9.267l46.34-17.273a4.94 4.94 0 002.905-6.361 4.941 4.941 0 00-6.36-2.907m-136.397-76.44a4.95 4.95 0 01-4.64-3.22 4.948 4.948 0 012.908-6.36l29.08-10.84a4.945 4.945 0 013.455 9.267l-29.08 10.84a4.874 4.874 0 01-1.723.313m53.792-20.05a4.95 4.95 0 01-4.634-3.226 4.945 4.945 0 012.907-6.36l46.34-17.275a4.945 4.945 0 016.36 2.906 4.94 4.94 0 01-2.906 6.362l-46.34 17.274a4.89 4.89 0 01-1.727.318m71.054-26.485a4.952 4.952 0 01-4.634-3.219 4.941 4.941 0 012.907-6.361l46.34-17.28a4.943 4.943 0 016.36 2.907 4.94 4.94 0 01-2.905 6.361l-46.341 17.275a4.923 4.923 0 01-1.727.317m71.056-26.49a4.946 4.946 0 01-1.726-9.581l46.339-17.274a4.944 4.944 0 016.361 2.907 4.942 4.942 0 01-2.905 6.36l-46.342 17.275a4.93 4.93 0 01-1.727.312m0 0"></path></svg>
            <br>
            <div style="text-align: center;color: #999!important;font-size: 16px;">Không có kết quả phù hợp.</div>
        </div>
        <%}%>
            </body>