<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản trị viên</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="/css/admin-control-report.css" rel="stylesheet">
    <link href="/css/admin-navbar.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<%- include("partials/admin-navbar-control"); -%>
    <%//console.log(bao_cao)%>
        <div class="container" style="margin-top: 200px;" id="content-report">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10" id="wrap-content-report">
                    <div class="title-report">
                        <%=bao_cao[0].dataValues.tieu_de%>
                    </div>
                    <div class="content-report">
                        <%=bao_cao[0].noi_dung.substring(0,28)%>
                            <br>
                            <%=bao_cao[0].dataValues.noi_dung.substring(28,71)%>
                                <br>
                                <%=bao_cao[0].dataValues.noi_dung.substring(72,bao_cao[0].dataValues.noi_dung.length-1)%>
                    </div>
                    <div class="img" style="padding: 10px;">
                        <h4 style="font-weight: 900;">Hình ảnh đính kèm</h4>
                        <div class="gallery">
                            <% for(anh of bao_cao[0].dataValues.hinh_anh_bao_caos){ %>
                                <%console.log("ALO:" + JSON.stringify(anh.path_anh,null,4))%>
                                    <img id="gallery-img" class="gallery-img" src=<%=anh.path_anh%>>
                                    <% }%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="close" style="right: 0;">
            <button class="btn-close">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="24" height="24" x="0" y="0" viewBox="0 0 329.26933 329" style="enable-background:new 0 0 512 512;width:24px;height:24px;" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" fill="#fdfdfd" data-original="#000000" style="" class=""/></g></svg>
</button>
        </div>

        <div class="container">
            <div class="img-click">
                <% 
        bao_cao[0].dataValues.hinh_anh_bao_caos.forEach(function(path_anh, i){
        %>
                    <img id="gallery-img1" class="gallery-img1" src="<%=path_anh.dataValues.path_anh%>">
                    <%}) %>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('.gallery').slick({
                    infinite: false,
                    lazyLoad: 'ondemand',
                    slidesToShow: 2.4,
                    slidesToScroll: 1,
                    responsive: [{
                        breakpoint: 990,
                        settings: {
                            slidesToShow: 2
                        }
                    }]
                });
                $('.gallery-img').mouseenter(function() {
                    $(this).addClass('is-hover');
                }).mouseleave(function() {
                    $(this).removeClass('is-hover');
                })
                $('.gallery').mouseenter(function() {
                    $(this).addClass('is-hover');
                }).mouseleave(function() {
                    $(this).removeClass('is-hover');
                })

                $('.img-click').slick({
                    infinite: false,
                    lazyLoad: 'ondemand',
                    slidesToShow: 1,
                    slidesToScroll: 1,
                });
                $(".gallery-img ").on("click ", function() {
                    $("body ").css("background-color ", "#222 ");
                    $(".close ").css("display ", "block ");
                    $(".gallery-img1 ").css("display ", "inline-block ");
                    $(".img-click .slick-prev ").css("display ", "block ");
                    $(".img-click .slick-next ").css("display ", "block ");
                    $("#content-report ").hide();
                    $(".header-wrap ").hide();
                })

                $(".btn-close ").on("click ", function() {
                    $("body ").css("background-color ", "#f7f7f7 ");
                    $(".close ").css("display ", "none ");
                    $(".gallery-img1 ").css("display ", "none ");
                    $(".img-click .slick-prev ").css("display ", "none ");
                    $(".img-click .slick-next ").css("display ", "none ");
                    $("#content-report ").show();
                    $(".header-wrap ").show();
                })

                $(".img-click .slick-prev ").css("display ", "none ");
                $(".img-click .slick-next ").css("display ", "none ");
            });
        </script>