<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yêu thích</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="/css/user-navbar-profile.css" rel="stylesheet">
    <link href="/css/user-content.css" rel="stylesheet">
    <link href="/css/user-wish-list.css" rel="stylesheet">
    <link href="/css/paginate.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<%- include("partials/user-navbar-profile"); -%>
    <div class="container wrap-content">
        <br>
        <% if(roomList.length != 0){%>
            <h3>Chỗ ở yêu thích :
                <%= roomList.length %>
            </h3>
            <div class="head-content">
                <div class="row wrap-post" style="margin-top: 20px;">
                    <% for (room of roomList){ %>
                        <% //console.log(room[0].dataValues)%>
                            <div class="col-md-3 col-sm-6">
                                <div class="product-card" style="background-color: #ffffff;">
                                    <a href="/room/<%=room[0].dataValues.id_phong_tro%>" style="text-decoration: none;">
                                        <div class="product-img">
                                            <img class="img-link" src="<%=room[0].dataValues.path_anh_noi_bat%>">
                                        </div>
                                    </a>
                                    <a href = "/remove-from-wish-list/<%=room[0].dataValues.id_phong_tro%>" style="text-decoration: none;color: #252525;"  class="btn-funtion" id="xoa" style="float: right;">
                                        &nbsp;
                                        <svg class = "trash" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width:20px;height:20px;" xml:space="preserve"><g><g><path d="M413.915,96.165l-27.422,368.11c-0.482,6.254-5.858,11.154-12.245,11.154H137.143c-6.388,0-11.764-4.901-12.239-11.081    L98.085,96.195l-36.474,2.657l26.825,368.226C90.368,492.27,111.762,512,137.143,512h237.105c25.375,0,46.769-19.73,48.713-44.971    l27.429-368.152L413.915,96.165z"/></g></g><g><g><path d="M306.59,0H205.41c-23.528,0-42.667,19.139-42.667,42.667v54.857h36.571V42.667c0-3.304,2.792-6.095,6.095-6.095H306.59    c3.304,0,6.095,2.792,6.095,6.095v54.857h36.571V42.667C349.257,19.139,330.112,0,306.59,0z"/></g></g><g><g><path d="M485.181,79.238H26.819c-10.1,0-18.286,8.186-18.286,18.286s8.186,18.286,18.286,18.286h458.362    c10.1,0,18.286-8.186,18.286-18.286S495.281,79.238,485.181,79.238z"/></g></g></svg>
                                    </a>
                                    <div class="product-info">
                                        <div class="phongtro-chungcu">
                                            <%= room[0].dataValues.phan_loai %>
                                        </div>
                                        <a href="/room/<%=room[0].dataValues.id_phong_tro%>" style="text-decoration: none;" id="a-title">
                                            <div class="info-title">
                                                <%= room[0].dataValues.ten_phong %>
                                            </div>
                                        </a>
                                        <div class="info-category">
                                            <span>Diện tích <%= room[0].dataValues.dien_tich %> m<sup>2</sup></span>
                                            <span>·</span>
                                            <span class="so-nguoi"><%= room[0].dataValues.tong_so_nguoi %> người</span>
                                        </div>
                                        <div class="price">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;height:15px;width:15px;vertical-align: middle;" xml:space="preserve"><g><g><path d="M437.02,74.98C388.668,26.628,324.38,0,256,0S123.332,26.628,74.98,74.98C26.629,123.332,0,187.62,0,256    s26.629,132.668,74.98,181.02C123.332,485.372,187.62,512,256,512s132.668-26.628,181.02-74.98    C485.371,388.668,512,324.38,512,256S485.371,123.332,437.02,74.98z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30    s226,101.383,226,226S380.617,482,256,482z"/></g></g><g><g><path d="M272.067,241h-32.134c-18.307,0-33.2-14.893-33.2-33.199c0-18.307,14.894-33.2,33.2-33.2H304.2c8.284,0,15-6.716,15-15    s-6.716-15-15-15H271v-33.2c0-8.284-6.716-15-15-15s-15,6.716-15,15v33.2h-1.066c-34.849,0-63.2,28.352-63.2,63.2    c0,34.848,28.352,63.199,63.2,63.199h32.134c18.306,0,33.199,14.894,33.199,33.2c0,18.306-14.893,33.2-33.199,33.2h-64.267    c-8.284,0-15,6.716-15,15s6.716,15,15,15H241v33.201c0,8.284,6.716,15,15,15s15-6.716,15-15V367.4h1.067    c34.848,0,63.199-28.352,63.199-63.2S306.915,241,272.067,241z"/></g></g></svg>
                                            <%= Number(room[0].dataValues.gia_phong).toLocaleString("en") %> đ/<sub>1 tháng</sub>
                                        </div>
                                        <div class="address">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;height: 15px;width: 15px;" xml:space="preserve">
                                    <path style="fill:#FF7C48;" d="M409.126,63.424C368.227,22.524,313.84,0,255.995,0C198.16,0,143.773,22.524,102.874,63.424  S39.45,158.71,39.45,216.555c0,117.01,110.642,214.336,170.077,266.622c8.258,7.258,15.396,13.537,21.075,18.845  c7.118,6.648,16.256,9.977,25.394,9.977c9.138,0,18.275-3.329,25.404-9.977c5.679-5.309,12.817-11.587,21.075-18.845  c59.435-52.287,170.077-149.612,170.077-266.622C472.55,158.71,450.026,104.324,409.126,63.424z M255.995,303.803  c-52.617,0-95.426-42.809-95.426-95.436c0-52.617,42.809-95.426,95.426-95.426c52.627,0,95.436,42.809,95.436,95.426  C351.431,260.994,308.622,303.803,255.995,303.803z"/>
                                    <path style="fill:#FF4C04;" d="M472.55,216.555c0,117.01-110.642,214.336-170.077,266.622c-8.258,7.258-15.396,13.537-21.075,18.845  c-7.128,6.648-16.266,9.977-25.404,9.977V303.803c52.627,0,95.436-42.809,95.436-95.436c0-52.617-42.809-95.426-95.436-95.426V0  c57.845,0,112.232,22.524,153.131,63.424S472.55,158.71,472.55,216.555z"/>
                                    </svg>
                                            <%= room[0].dataValues.quan_huyen %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                </div>
                <%- include("partials/template/paginate"); -%>
            </div>
            <%}else {%>
                <div style="margin-top:160px;">
                    <svg version="1.1" viewBox="0 0 1024 1024" class="svg-icon svg-fill" style="width: 150px; height: 150px;display:block;margin:auto;"><path fill="#999999" stroke="none" pid="0" d="M621.19 958.604H388.126a6.599 6.599 0 01-6.596-6.593 6.595 6.595 0 016.596-6.591H621.19a6.596 6.596 0 016.597 6.59 6.597 6.597 0 01-6.597 6.594m-23.043-806.172c-7.494 0-14.272-5.142-16.042-12.753l-13.087-56.19c-2.065-8.868 3.45-17.728 12.315-19.794 8.87-2.064 17.729 3.45 19.794 12.315l13.087 56.195c2.066 8.868-3.445 17.729-12.315 19.794a16.777 16.777 0 01-3.752.433M781.63 297.346a16.28 16.28 0 01-3.285-.331l-56.554-11.42c-8.922-1.8-14.696-10.496-12.897-19.422 1.805-8.925 10.501-14.696 19.425-12.894l56.557 11.419c8.92 1.8 14.696 10.5 12.894 19.422-1.583 7.827-8.456 13.226-16.14 13.226m-90.15-113.332c-4.748 0-9.46-2.038-12.72-5.983-5.796-7.02-4.807-17.413 2.209-23.21l48.497-40.065c7.02-5.801 17.407-4.811 23.208 2.209 5.802 7.016 4.808 17.408-2.208 23.209L701.97 180.24a16.421 16.421 0 01-10.49 3.774m159.24 728.215H461.919l272.528-98.782c16.884-6.119 30.374-18.444 37.988-34.712 7.612-16.267 8.431-34.524 2.312-51.409L757.08 678.59c-2.17-5.993-8.79-9.09-14.78-6.916-5.992 2.17-9.09 8.791-6.916 14.78l17.664 48.736c4.017 11.09 3.48 23.077-1.52 33.765-4.998 10.681-13.859 18.78-24.95 22.796l-306.69 111.167c-11.096 4.018-23.083 3.48-33.767-1.52-10.68-5-18.779-13.857-22.795-24.95l-169.46-467.526c-8.296-22.888 3.575-48.262 26.467-56.56l306.695-111.17c11.09-4.016 23.079-3.473 33.765 1.524 10.683 4.999 18.78 13.86 22.794 24.93l69.22 191.647c2.166 5.996 8.776 9.098 14.775 6.933 5.993-2.165 9.095-8.777 6.93-14.77l-69.225-191.658c-6.119-16.883-18.446-30.372-34.712-37.989-16.267-7.611-34.524-8.43-51.408-2.312l-306.7 111.168c-34.856 12.635-52.931 51.27-40.3 86.124l169.46 467.523c8.243 22.74 27.547 38.325 49.65 42.917a8.094 8.094 0 004.43 1.314h5.78a68.99 68.99 0 003.419.1c1.142 0 2.283-.038 3.428-.1H850.72a8.156 8.156 0 008.156-8.157 8.156 8.156 0 00-8.157-8.157M770.66 418.512l-17.924-9.729c-7.16-3.878-17.408 1.172-22.901 11.292l-149.18 274.957c-.664 1.224-1.007 2.574-.962 3.815l.976 30.42a4.74 4.74 0 00-1.384.3l-46.34 17.268a4.945 4.945 0 103.453 9.27l44.603-16.623.01.354c.11 3.356 2.869 4.851 5.738 3.112l35.08-21.24c1.062-.642 2.008-1.663 2.672-2.887l149.18-274.963c5.488-10.112 4.137-21.464-3.02-25.346M437.172 782.537l-34.008 12.675a4.941 4.941 0 00-2.906 6.36 4.946 4.946 0 004.634 3.22 4.894 4.894 0 001.727-.313l34.008-12.675a4.943 4.943 0 002.907-6.36 4.94 4.94 0 00-6.362-2.907m71.056-26.49l-46.34 17.274a4.946 4.946 0 103.455 9.267l46.34-17.273a4.94 4.94 0 002.905-6.361 4.941 4.941 0 00-6.36-2.907m-136.397-76.44a4.95 4.95 0 01-4.64-3.22 4.948 4.948 0 012.908-6.36l29.08-10.84a4.945 4.945 0 013.455 9.267l-29.08 10.84a4.874 4.874 0 01-1.723.313m53.792-20.05a4.95 4.95 0 01-4.634-3.226 4.945 4.945 0 012.907-6.36l46.34-17.275a4.945 4.945 0 016.36 2.906 4.94 4.94 0 01-2.906 6.362l-46.34 17.274a4.89 4.89 0 01-1.727.318m71.054-26.485a4.952 4.952 0 01-4.634-3.219 4.941 4.941 0 012.907-6.361l46.34-17.28a4.943 4.943 0 016.36 2.907 4.94 4.94 0 01-2.905 6.361l-46.341 17.275a4.923 4.923 0 01-1.727.317m71.056-26.49a4.946 4.946 0 01-1.726-9.581l46.339-17.274a4.944 4.944 0 016.361 2.907 4.942 4.942 0 01-2.905 6.36l-46.342 17.275a4.93 4.93 0 01-1.727.312m0 0"></path></svg>
                    <br>
                    <div style="text-align: center;color: #999!important;font-size: 16px;">Không có kết quả phù hợp.</div>
                </div>
                <%}%>
    </div>
