<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yêu thích</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="/css/user-wish-list.css" rel="stylesheet">
    <link href="/css/user-navbar-profile.css" rel="stylesheet">
    <link href="/css/user-content.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<%- include("partials/user-navbar-profile"); -%>
    <div class="container wrap-content">
        <br>
        <h3>Chỗ ở yêu thích : <%= roomList.length %></h3>
          <div class="head-content">
              <div class="row wrap-post" style="margin-top: 20px;">
                <% for (room of roomList){ %>
                <% console.log(room[0].dataValues)%>
                  <div class="col-md-3 col-sm-6">
                      <div class="product-card">
                          <a href="room/<%=room[0].dataValues.id_phong_tro%>" style="text-decoration: none;">
                              <div class="product-img">
                                  <img class="img-link" src="<%=room[0].dataValues.path_anh_noi_bat%>">
                              </div>
                              <div class="product-info">
                                  <div class="phongtro-chungcu">
                                      <%= room[0].dataValues.phan_loai %>
                                  </div>
                                  <div class="info-title">
                                      <%= room[0].dataValues.ten_phong %>
                                  </div>
                                  <div class="info-category">
                                      <span><%= room[0].dataValues.dien_tich %>m2</span>
                                      <span>·</span>
                                      <span class="so-nguoi"><%= room[0].dataValues.tong_so_nguoi %> người</span>
                                  </div>
                                  <div class="price">
                                      <%= Number(room[0].dataValues.gia_phong).toLocaleString("en") %> đ/1 tháng
                                  </div>
                                  <div class="address">
                                      <%= room[0].dataValues.quan_huyen %>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                    <% } %>
              </div>
          </div>
    </div>
    <%- include("partials/footer"); -%>
