<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đặt lịch hẹn</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script>
        ! function(e, t) { "object" == typeof exports && "object" == typeof module ? module.exports = t() : "function" == typeof define && define.amd ? define("darkmode-js", [], t) : "object" == typeof exports ? exports["darkmode-js"] = t() : e["darkmode-js"] = t() }("undefined" != typeof self ? self : this, (function() {
    return function(e) {
        var t = {};

        function n(o) { if (t[o]) return t[o].exports; var r = t[o] = { i: o, l: !1, exports: {} }; return e[o].call(r.exports, r, r.exports, n), r.l = !0, r.exports }
        return n.m = e, n.c = t, n.d = function(e, t, o) { n.o(e, t) || Object.defineProperty(e, t, { enumerable: !0, get: o }) }, n.r = function(e) { "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, { value: "Module" }), Object.defineProperty(e, "__esModule", { value: !0 }) }, n.t = function(e, t) {
            if (1 & t && (e = n(e)), 8 & t) return e;
            if (4 & t && "object" == typeof e && e && e.__esModule) return e;
            var o = Object.create(null);
            if (n.r(o), Object.defineProperty(o, "default", { enumerable: !0, value: e }), 2 & t && "string" != typeof e)
                for (var r in e) n.d(o, r, function(t) { return e[t] }.bind(null, r));
            return o
        }, n.n = function(e) { var t = e && e.__esModule ? function() { return e.default } : function() { return e }; return n.d(t, "a", t), t }, n.o = function(e, t) { return Object.prototype.hasOwnProperty.call(e, t) }, n.p = "", n(n.s = 0)
    }([function(e, t, n) {
        "use strict";
        Object.defineProperty(t, "__esModule", { value: !0 }), t.default = void 0;
        var o = function(e) {
            if (e && e.__esModule) return e;
            var t = {};
            if (null != e)
                for (var n in e)
                    if (Object.prototype.hasOwnProperty.call(e, n)) {
                        var o = Object.defineProperty && Object.getOwnPropertyDescriptor ? Object.getOwnPropertyDescriptor(e, n) : {};
                        o.get || o.set ? Object.defineProperty(t, n, o) : t[n] = e[n]
                    }
            return t.default = e, t
        }(n(1));
        var r = o.default;
        t.default = r, o.IS_BROWSER && function(e) { e.Darkmode = o.default }(window), e.exports = t.default
    }, function(e, t, n) {
        "use strict";

        function o(e, t) {
            for (var n = 0; n < t.length; n++) {
                var o = t[n];
                o.enumerable = o.enumerable || !1, o.configurable = !0, "value" in o && (o.writable = !0), Object.defineProperty(e, o.key, o)
            }
        }
        Object.defineProperty(t, "__esModule", { value: !0 }), t.default = t.IS_BROWSER = void 0;
        var r = "undefined" != typeof window;
        t.IS_BROWSER = r;
        var a = function() {
            function e(t) {
                if (function(e, t) { if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function") }(this, e), r) {
                    t = Object.assign({}, { bottom: "32px", right: "32px", left: "unset", time: "0.3s", mixColor: "#f7f7f7", backgroundColor: "#f7f7f7", buttonColorDark: "#100f2c", buttonColorLight: "#fff", label: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480.8 480.8" style="enable-background:new 0 0 480.8 480.8;width:20px;height:20p;" xml:space="preserve"><path style="fill:#FFD517;" d="M317.112,314.4c-22.4,22.4-19.6,67.6-19.6,67.6h-113.6c0,0,2.4-45.2-19.6-67.6  c-24.4-21.6-40-52.8-40-87.6c0-64,52-116,116-116s116,52,116,116C356.312,261.6,341.112,292.8,317.112,314.4L317.112,314.4z"/><g><path style="fill:#E5E5E5;" d="M300.712,417.6c0,6-4.8,10.8-10.8,10.8h-98.8c-6,0-10.8-4.8-10.8-10.8l0,0c0-6,4.8-10.8,10.8-10.8   h98.4C295.512,406.8,300.712,411.6,300.712,417.6L300.712,417.6z"/><path style="fill:#E5E5E5;" d="M285.912,462.4c0,6-4.8,10.8-10.8,10.8h-69.2c-6,0-10.8-4.8-10.8-10.8l0,0c0-6,4.8-10.8,10.8-10.8   h69.2C281.112,451.6,285.912,456.4,285.912,462.4L285.912,462.4z"/></g><g><path style="fill:#210B20;" d="M323.112,318.4c26-23.6,40.8-56.8,40.8-91.6c0-68-55.6-123.6-123.6-123.6s-123.6,55.6-123.6,123.6   c0,35.6,15.6,69.6,42,92.8c19.6,19.6,17.6,61.2,17.6,61.6c0,2,0.8,4,2,5.6c1.6,1.6,3.6,2.4,5.6,2.4h113.2c2,0,4-0.8,5.6-2.4   s2-3.6,2-5.6c0-0.4-2-42,17.6-61.6C322.712,319.2,323.112,318.8,323.112,318.4z M311.912,308.4c-0.8,0.4-1.2,1.2-1.6,2   c-17.6,18.8-20.4,49.6-20.8,64h-98c-0.4-14.8-3.6-46.8-22.4-65.6c-23.6-20.8-37.2-50.4-37.2-81.6c0-60,48.8-108.4,108.4-108.4   c60,0,108.4,48.8,108.4,108.4C348.712,258,335.512,288,311.912,308.4z"/><path style="fill:#210B20;" d="M240.312,135.2c-4,0-7.6,3.2-7.6,7.6c0,4,3.2,7.6,7.6,7.6c44.8,0,81.2,36.4,81.2,81.2   c0,4,3.2,7.6,7.6,7.6c4,0,7.6-3.2,7.6-7.6C336.712,178.4,293.512,135.2,240.312,135.2z"/><path style="fill:#210B20;" d="M308.312,417.6c0-10.4-8.4-18.4-18.4-18.4h-98.8c-10.4,0-18.4,8.4-18.4,18.4   c0,10.4,8.4,18.4,18.4,18.4h98.4C299.912,436,308.312,428,308.312,417.6z M289.512,420.8h-98.4c-2,0-3.2-1.6-3.2-3.2   c0-2,1.6-3.2,3.2-3.2h98.4c2,0,3.2,1.6,3.2,3.2C293.112,419.6,291.512,420.8,289.512,420.8z"/><path style="fill:#210B20;" d="M275.112,444h-69.2c-10.4,0-18.4,8.4-18.4,18.4c0,10.4,8.4,18.4,18.4,18.4h69.2   c10.4,0,18.4-8.4,18.4-18.4C293.512,452.4,285.112,444,275.112,444z M275.112,465.6h-69.2c-2,0-3.2-1.6-3.2-3.2   c0-2,1.6-3.2,3.2-3.2h69.2c2,0,3.2,1.6,3.2,3.2C278.312,464.4,277.112,465.6,275.112,465.6z"/><path style="fill:#210B20;" d="M247.912,58.8V7.6c0-4-3.2-7.6-7.6-7.6c-4,0-7.6,3.2-7.6,7.6v51.6c0,4,3.2,7.6,7.6,7.6   C244.712,66.4,247.912,63.2,247.912,58.8z"/><path style="fill:#210B20;" d="M366.312,38c-3.6-2.4-8-1.2-10.4,2l-28.4,42.8c-2.4,3.6-1.2,8,2,10.4c1.2,0.8,2.8,1.2,4,1.2   c2.4,0,4.8-1.2,6.4-3.2l28.4-42.8C370.712,45.2,369.512,40.4,366.312,38z"/><path style="fill:#210B20;" d="M149.912,92.8c1.2,0,2.8-0.4,4-1.2c3.6-2.4,4.4-6.8,2.4-10.4l-27.6-43.2c-2.4-3.6-6.8-4.4-10.4-2.4   c-3.6,2.4-4.4,6.8-2.4,10.4l27.6,43.2C145.112,91.6,147.512,92.8,149.912,92.8z"/><path style="fill:#210B20;" d="M43.912,128.8l45.2,24.4c1.2,0.8,2.4,0.8,3.6,0.8c2.8,0,5.2-1.6,6.8-4c2-3.6,0.8-8.4-3.2-10.4   l-45.2-24.4c-3.6-2-8.4-0.8-10.4,3.2C39.112,122.4,40.312,126.8,43.912,128.8z"/><path style="fill:#210B20;" d="M387.912,154.4c1.2,0,2.4-0.4,3.6-0.8l45.2-24.4c3.6-2,5.2-6.4,3.2-10.4c-2-3.6-6.4-5.2-10.4-3.2   l-45.2,24.4c-3.6,2-5.2,6.4-3.2,10.4C382.312,152.8,385.112,154.4,387.912,154.4z"/></g></svg>', saveInCookies: !0, autoMatchOsTheme: !0 }, t);
                    var n = "\n      .darkmode-layer {\n        position: fixed;\n        pointer-events: none;\n        background: ".concat(t.mixColor, ";\n        transition: all ").concat(t.time, " ease;\n        mix-blend-mode: difference;\n      }\n\n      .darkmode-layer--button {\n        width: 48px;\n        height: 48px;\n        border-radius: 50%;\n        right: ").concat(t.right, ";\n        bottom: ").concat(t.bottom, ";\n        left: ").concat(t.left, ";\n      }\n\n      .darkmode-layer--simple {\n        width: 100%;\n        height: 100%;\n        top: 0;\n        left: 0;\n        transform: scale(1) !important;\n      }\n\n      .darkmode-layer--expanded {\n        transform: scale(100);\n        border-radius: 0;\n      }\n\n      .darkmode-layer--no-transition {\n        transition: none;\n      }\n\n      .darkmode-toggle {\n        background: ").concat(t.buttonColorDark, ";\n        width: 48px;\n        height: 48px;\n        position: fixed;\n        border-radius: 50%;\n        border:none;\n        right: ").concat(t.right, ";\n        bottom: ").concat(t.bottom, ";\n        left: ").concat(t.left, ";\n        cursor: pointer;\n        transition: all 0.5s ease;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n      }\n\n      .darkmode-toggle--white {\n        background: ").concat(t.buttonColorLight, ";\n      }\n\n      .darkmode-toggle--inactive {\n        display: none;\n      }\n\n      .darkmode-background {\n        background: ").concat(t.backgroundColor, ";\n        position: fixed;\n        pointer-events: none;\n        z-index: -10;\n        width: 100%;\n        height: 100%;\n        top: 0;\n        left: 0;\n      }\n\n      img, .darkmode-ignore {\n        isolation: isolate;\n        display: inline-block;\n      }\n\n      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {\n        .darkmode-toggle {display: none !important}\n      }\n\n      @supports (-ms-ime-align:auto), (-ms-accelerator:true) {\n        .darkmode-toggle {display: none !important}\n      }\n    "),
                        o = document.createElement("div"),
                        a = document.createElement("button"),
                        i = document.createElement("div");
                    a.innerHTML = t.label, a.classList.add("darkmode-toggle--inactive"), o.classList.add("darkmode-layer"), i.classList.add("darkmode-background");
                    var d = "true" === window.localStorage.getItem("darkmode"),
                        s = t.autoMatchOsTheme && window.matchMedia("(prefers-color-scheme: dark)").matches,
                        l = null === window.localStorage.getItem("darkmode");
                    (!0 === d && t.saveInCookies || l && s) && (o.classList.add("darkmode-layer--expanded", "darkmode-layer--simple", "darkmode-layer--no-transition"), a.classList.add("darkmode-toggle--white"), document.body.classList.add("darkmode--activated")), document.body.insertBefore(a, document.body.firstChild), document.body.insertBefore(o, document.body.firstChild), document.body.insertBefore(i, document.body.firstChild), this.addStyle(n), this.button = a, this.layer = o, this.saveInCookies = t.saveInCookies, this.time = t.time
                }
            }
            var t, n, a;
            return t = e, (n = [{
                key: "addStyle",
                value: function(e) {
                    var t = document.createElement("link");
                    t.setAttribute("rel", "stylesheet"), t.setAttribute("type", "text/css"), t.setAttribute("href", "data:text/css;charset=UTF-8," + encodeURIComponent(e)), document.head.appendChild(t)
                }
            }, {
                key: "showWidget",
                value: function() {
                    var e = this;
                    if (r) {
                        var t = this.button,
                            n = this.layer,
                            o = 1e3 * parseFloat(this.time);
                        t.classList.add("darkmode-toggle"), t.classList.remove("darkmode-toggle--inactive"), t.setAttribute("aria-label", "Activate dark mode"), t.setAttribute("aria-checked", "false"), t.setAttribute("role", "checkbox"), n.classList.add("darkmode-layer--button"), t.addEventListener("click", (function() {
                            var r = e.isActivated();
                            r ? (n.classList.remove("darkmode-layer--simple"), t.setAttribute("disabled", !0), setTimeout((function() { n.classList.remove("darkmode-layer--no-transition"), n.classList.remove("darkmode-layer--expanded"), t.removeAttribute("disabled") }), 1)) : (n.classList.add("darkmode-layer--expanded"), t.setAttribute("disabled", !0), setTimeout((function() { n.classList.add("darkmode-layer--no-transition"), n.classList.add("darkmode-layer--simple"), t.removeAttribute("disabled") }), o)), t.classList.toggle("darkmode-toggle--white"), document.body.classList.toggle("darkmode--activated"), window.localStorage.setItem("darkmode", !r)
                        }))
                    }
                }
            }, {
                key: "toggle",
                value: function() {
                    if (r) {
                        var e = this.layer,
                            t = this.isActivated(),
                            n = this.button;
                        e.classList.toggle("darkmode-layer--simple"), document.body.classList.toggle("darkmode--activated"), window.localStorage.setItem("darkmode", !t), n.setAttribute("aria-label", "De-activate dark mode"), n.setAttribute("aria-checked", "true")
                    }
                }
            }, { key: "isActivated", value: function() { return r ? document.body.classList.contains("darkmode--activated") : null } }]) && o(t.prototype, n), a && o(t, a), e
        }();
        t.default = a
    }])
}));

        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    <link href="/css/user-control-booking.css" rel="stylesheet">
    <link href="/css/user-navbar-profile.css" rel="stylesheet">
    <link href="/css/await-bookings.css" rel="stylesheet">
    <link href="/css/paginate.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<%- include("partials/user-navbar-profile"); -%>

    <div class="container wrap-content">
        <br>
        <% if(bookingNum != 0){%>
            <h3>Tổng số lịch hẹn cần phê duyệt:
                <%= bookingNum%>
            </h3>
            <%} else{%>
                <br>
                <%}%>
                    <div style="float: right;">
                        <span class="wrap-nav-item">
                <a href = "/await-bookings/1" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-1">
                    Đang chờ được xác nhận
                </a>
            </span>
                        <span class="wrap-nav-item ">
                <a href = "/await-bookings/accepted/1" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-2">
                    Đã xác nhận
                </a>
            </span>
                        <span class="wrap-nav-item ">
                <a href = "/await-bookings/denied/1" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-3">
                    Đã hủy
                </a>
            </span>
                    </div>
                    <% if(bookingNum != 0) {%>
                        <br>
                        <br>
                        <br>
                        <div class="row row-darkmode" style="border-radius: 8px;margin-bottom: 20px; ">
                            <% for(booking of awaitList){ %>
                                <div class="col-sm-12 " style="border-bottom: 2px solid #f2f2f2; ">
                                    <div class="wrap-content-info ">
                                        <div class="col-sm-3 ">
                                            <div class="box-info1 ">
                                                <div class="status-cho ">
                                                    <div style="width:47%;height: 4px;background-color: rgb(245, 222, 13);margin-bottom: 8px; "></div>
                                                    <div style="color: #999!important;font-weight:500;font-size:16px;margin-bottom: 8px; ">Đang chờ xác nhận</div>
                                                </div>
                                                <div style="font-weight:600;font-size:24px " class="txt-time">
                                                    <%=booking.dataValues.thoi_gian%>
                                                </div>
                                                <br>
                                                <form action="./<%=booking.dataValues.id_buoi_hen%>/accept" method="post">
                                                    <button type="submit" class="btn-funtion" id="xac-nhan" style="float: left;">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="15" height="15" x="0" y="0" viewBox="0 0 434.67733 434" style="enable-background:new 0 0 512 512" xml:space="preserve" class="" style="vertical-align: middle;"><g><path xmlns="http://www.w3.org/2000/svg" d="m152.003906 304.34375c-5.460937 0-10.921875-2.089844-15.082031-6.25l-130.664063-130.667969c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339844-8.339844 21.820313-8.339844 30.164063 0l115.582031 115.582031 246.253906-246.25c8.339844-8.339844 21.820313-8.339844 30.164063 0 8.339844 8.34375 8.339844 21.824219 0 30.167969l-261.332031 261.332031c-4.160156 4.160156-9.625 6.25-15.085938 6.25zm0 0" fill="#2cd474" data-original="#000000" style="" class=""/></g></svg>
                                  &nbsp;<span class = "txt">Xác nhận</span></button>
                                                </form>

                                                <form action="./<%=booking.dataValues.id_buoi_hen%>/deny" method="post">
                                                    <button type="submit" class="btn-funtion" id="tu-choi" style="float: right;margin-bottom: 12px;margin-right: 12px;">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="15" height="15" x="0" y="0" viewBox="0 0 180.607 180.607" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="M180.607,10.607l-79.696,79.697l79.696,79.697L170,180.607l-79.696-79.696l-79.696,79.696L0,170.001l79.696-79.697L0,10.607  L10.607,0.001l79.696,79.696L170,0.001L180.607,10.607z" fill="#d01818" data-original="#000000" style=""/><g xmlns="http://www.w3.org/2000/svg"></g></g></svg>
                                  &nbsp;<span class = "txt">Từ chối</span></button>
                                                </form>
                                            </div>
                                        </div>
                                        <%- include("partials/content-await-bookings"); -%>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                        <%} else {%>
                            <div style="margin-top:150px;">
                                <svg version="1.1" viewBox="0 0 1024 1024" class="svg-icon svg-fill" style="width: 150px; height: 150px;display:block;margin:auto;"><path fill="#999999" stroke="none" pid="0" d="M621.19 958.604H388.126a6.599 6.599 0 01-6.596-6.593 6.595 6.595 0 016.596-6.591H621.19a6.596 6.596 0 016.597 6.59 6.597 6.597 0 01-6.597 6.594m-23.043-806.172c-7.494 0-14.272-5.142-16.042-12.753l-13.087-56.19c-2.065-8.868 3.45-17.728 12.315-19.794 8.87-2.064 17.729 3.45 19.794 12.315l13.087 56.195c2.066 8.868-3.445 17.729-12.315 19.794a16.777 16.777 0 01-3.752.433M781.63 297.346a16.28 16.28 0 01-3.285-.331l-56.554-11.42c-8.922-1.8-14.696-10.496-12.897-19.422 1.805-8.925 10.501-14.696 19.425-12.894l56.557 11.419c8.92 1.8 14.696 10.5 12.894 19.422-1.583 7.827-8.456 13.226-16.14 13.226m-90.15-113.332c-4.748 0-9.46-2.038-12.72-5.983-5.796-7.02-4.807-17.413 2.209-23.21l48.497-40.065c7.02-5.801 17.407-4.811 23.208 2.209 5.802 7.016 4.808 17.408-2.208 23.209L701.97 180.24a16.421 16.421 0 01-10.49 3.774m159.24 728.215H461.919l272.528-98.782c16.884-6.119 30.374-18.444 37.988-34.712 7.612-16.267 8.431-34.524 2.312-51.409L757.08 678.59c-2.17-5.993-8.79-9.09-14.78-6.916-5.992 2.17-9.09 8.791-6.916 14.78l17.664 48.736c4.017 11.09 3.48 23.077-1.52 33.765-4.998 10.681-13.859 18.78-24.95 22.796l-306.69 111.167c-11.096 4.018-23.083 3.48-33.767-1.52-10.68-5-18.779-13.857-22.795-24.95l-169.46-467.526c-8.296-22.888 3.575-48.262 26.467-56.56l306.695-111.17c11.09-4.016 23.079-3.473 33.765 1.524 10.683 4.999 18.78 13.86 22.794 24.93l69.22 191.647c2.166 5.996 8.776 9.098 14.775 6.933 5.993-2.165 9.095-8.777 6.93-14.77l-69.225-191.658c-6.119-16.883-18.446-30.372-34.712-37.989-16.267-7.611-34.524-8.43-51.408-2.312l-306.7 111.168c-34.856 12.635-52.931 51.27-40.3 86.124l169.46 467.523c8.243 22.74 27.547 38.325 49.65 42.917a8.094 8.094 0 004.43 1.314h5.78a68.99 68.99 0 003.419.1c1.142 0 2.283-.038 3.428-.1H850.72a8.156 8.156 0 008.156-8.157 8.156 8.156 0 00-8.157-8.157M770.66 418.512l-17.924-9.729c-7.16-3.878-17.408 1.172-22.901 11.292l-149.18 274.957c-.664 1.224-1.007 2.574-.962 3.815l.976 30.42a4.74 4.74 0 00-1.384.3l-46.34 17.268a4.945 4.945 0 103.453 9.27l44.603-16.623.01.354c.11 3.356 2.869 4.851 5.738 3.112l35.08-21.24c1.062-.642 2.008-1.663 2.672-2.887l149.18-274.963c5.488-10.112 4.137-21.464-3.02-25.346M437.172 782.537l-34.008 12.675a4.941 4.941 0 00-2.906 6.36 4.946 4.946 0 004.634 3.22 4.894 4.894 0 001.727-.313l34.008-12.675a4.943 4.943 0 002.907-6.36 4.94 4.94 0 00-6.362-2.907m71.056-26.49l-46.34 17.274a4.946 4.946 0 103.455 9.267l46.34-17.273a4.94 4.94 0 002.905-6.361 4.941 4.941 0 00-6.36-2.907m-136.397-76.44a4.95 4.95 0 01-4.64-3.22 4.948 4.948 0 012.908-6.36l29.08-10.84a4.945 4.945 0 013.455 9.267l-29.08 10.84a4.874 4.874 0 01-1.723.313m53.792-20.05a4.95 4.95 0 01-4.634-3.226 4.945 4.945 0 012.907-6.36l46.34-17.275a4.945 4.945 0 016.36 2.906 4.94 4.94 0 01-2.906 6.362l-46.34 17.274a4.89 4.89 0 01-1.727.318m71.054-26.485a4.952 4.952 0 01-4.634-3.219 4.941 4.941 0 012.907-6.361l46.34-17.28a4.943 4.943 0 016.36 2.907 4.94 4.94 0 01-2.905 6.361l-46.341 17.275a4.923 4.923 0 01-1.727.317m71.056-26.49a4.946 4.946 0 01-1.726-9.581l46.339-17.274a4.944 4.944 0 016.361 2.907 4.942 4.942 0 01-2.905 6.36l-46.342 17.275a4.93 4.93 0 01-1.727.312m0 0"></path></svg>
                                <br>
                                <div style="text-align: center;color: #999!important;font-size: 16px;">Không có kết quả phù hợp.</div>
                            </div>
                            <%}%>

                                <%- include("partials/template/paginate"); -%>
                                    <script>
                                        $('#xac-nhan').click(function(e) {
                                            $('#xac-nhan').css("display", "none");
                                            $('#tu-choi').css("display", "none");
                                        })

                                        $('#tu-choi').on('click', function(e) {
                                            $('#xac-nhan').css("display", "none");
                                            $('#tu-choi').css("display", "none");
                                        })
                                    </script>