<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đặt lịch hẹn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="/css/user-control-booking-success.css" rel="stylesheet">
    <link href="/css/user-navbar-profile.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<%- include("partials/user-navbar-profile"); -%>

    <div class="container wrap-content">
        <br>
        <h2 style="margin-bottom: 20px;">Tổng số lịch hẹn cần phê duyệt:
            <%= awaitList.length%>
        </h2>
        <div style="float: right;">
            <span class="wrap-nav-item">
                <a href = "await-bookings" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-1">
                    Đang chờ xác nhận
                </a>
            </span>
            <span class="wrap-nav-item ">
                <a href = "await-bookings-success" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-2">
                    Xác nhận thành công
                </a>
            </span>
            <span class="wrap-nav-item ">
                <a href = "await-bookings-fail" class = "wrap-a" style="text-decoration: none; " id = "wrap-a-3">
                    Đã hủy lịch hẹn
                </a>
            </span>
        </div>
        <br>
        <br>
        <br>
        <div class="row " style="border-radius: 8px;box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);background-color: #fff;margin-bottom: 100px; ">
            <div class="col-sm-12 " style="border-bottom: 2px solid #f2f2f2; ">
                <div class="wrap-content-info ">
                    <% for(await of awaitList){ %>
                        <div class="col-sm-4 " style="border-right: 2px solid #f2f2f2; ">
                            <div class="box-info1 ">
                                <div class="status-cho ">
                                    <div style="width:53%;height: 4px;background-color: #28ca6e;margin-bottom: 8px;"></div>
                                    <div style="color: #999!important;font-weight:500;font-size:16px;margin-bottom: 8px;">Xác nhận thành công</div>
                                </div>
                                <div style="color: #222222!important;font-weight:600;font-size:24px ">
                                    <%=await.dataValues.thoi_gian%>
                                </div>
                                <br>
                                <%- include("partials/content-await-bookings"); -%>
                                    <%}%>
                            </div>
                        </div>
                </div>
            </div>

            <%- include("partials/footer"); -%>