<%- include("partials/navbar-user-profile-info",{username: user.ten_nguoi_dung}); -%>
    <div class="container" id="profile-content">
        <div class="row">
            <div class="col-md-2">
                <span style="font-size: 12px;">Xin chào bạn,</span>
                <br><br>
                <a href="profile" style="text-decoration: none;">
                    <i class="fas fa-user-circle" style="color: hotpink;font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Quản lý tài khoản</b></span>
                </a>
                <ul style="list-style: none;margin-left: -5px;">
                    <li>
                        <a href="profile-info" style="text-decoration: none;">
                            <span id="ul-li" style="color: #1A9CB7;">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile-change-password" style="text-decoration: none;">
                            <span id="ul-li">Đổi mật khẩu</span>
                        </a>
                    </li>
                </ul>
                <a href="#" style="text-decoration: none;">
                    <i class="fas fa-bell" style="color: rgb(255, 30, 0);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Thông báo</b></span>
                </a>
                <br><br>
                <a href="#" style="text-decoration: none;">
                    <i class="fas fa-clipboard" style="color: rgb(0, 195, 255);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Bài đã đăng</b></span>
                </a>
                <br><br>
                <a href="post" style="text-decoration: none;">
                    <i class="far fa-edit" style="color: rgb(255, 0, 98);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Tạo bài viết mới</b></span>
                </a>
            </div>
            <div class="col-md-10">
                <span style="font-size: 17px;"><b>Sửa thông tin cá nhân</b></span>
                <br><br>
                <div class="content" style="background-color: white; height: 400px;">
                      <form action="/profile-edit" method="post">
                        <div class="row" style="padding:40px;">
                            <div class="col-md-4">
                                <span id="title-item-profile"><i>Tên đăng nhập</i></span>
                                <br>
                                <br>
                                <input name="username" type="text" id="user-name" class="form-control" placeholder="Vui lòng nhập họ tên của bạn" value="<%=user.ten_nguoi_dung %>" style="border-radius: 0;color: #424242;font-size: small;height: 40px;">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <span id="title-item-profile"><i>Địa chỉ email</i></span>
                                <br>
                                <br>
                                <input name="email" type="text" id="btn-forget" class="form-control" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" data-meta="Field" value="<%=user.email %>" tabindex="-1">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <span id="title-item-profile"><i>Số điện thoại</i></span>
                                <br>
                                <br>
                                <input name="phone" type="number" id="btn-phone" class="form-control" placeholder="Vui lòng nhập số điện thoại của bạn" value="<%=user.sdt %>" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" maxlength="11" pattern="([0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9])">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <span id="title-item-profile"><i>Ngày sinh</i></span>
                                <br>
                                <input name="DOB" id="datepicker" style="border-radius: 0;color: #424242; font-size: small;height: 40px;text-align: center;" placeholder="Chọn ngày sinh của bạn" value="<%=user.ngay_sinh %>" readonly="">
                            </div>
                            <div class="col-md-4">
                                <span id="title-item-profile"><i>Giới tính</i></span>
                                <br>
                                <select name="sex" class="custom-select" id="inputGroupSelect01" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <option > <%=user.gioi_tinh %> </option>
                                    <% if(user.gioi_tinh == "Nam"){ %>
                                      <option >Nữ</option>
                                    <% }else{ %>
                                        <option >Nam</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="padding:40px;">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" id="button-submit"><span id = "text-btn"><b>LƯU THAY ĐỔI</b></span></button>
                            </div>
                        </div>
                      </form>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script>
        $("#btn-phone").keyup(function() {
            $("#btn-phone").val(this.value.match(/[0-9]*/));
        });
        $('#datepicker').datepicker();
    </script>
    <%- include("partials/footer"); -%>
