<%- include("partials/user-head-host"); -%>
    <%- include("partials/user-navbar-host"); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="side-profile">
                        <div class="div-side">
                            <a href="/profile" class="a-side" style="text-decoration: none;">
                                <span id="sp-color">Quản lý tài khoản</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/bookings/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Đặt lịch</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/control-bookings/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Quản lý đặt lịch</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/wish-list/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Yêu thích</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/list-host/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Bài đã đăng</span>
                            </a>
                        </div>
                        <b><a class="navbar-brand logo1" href="/" id="logo1">TroDe</a></b>
                    </div>
                </div>
                <%- include("partials/content-host"); -%>
                    <%- include("partials/load-img-edit"); -%>
            </div>
        </div>
        <br>
        <script type="text/javascript" src="../js/host.js"></script>

        <%- include("partials/footer"); -%>
