<%
if(userData.length!=0){
userData.forEach(function(data){
%>
    <div class="col-md-3 col-sm-6">
        <div class="product-card">
            <a href="/room/<%=data.dataValues.id_phong_tro%>" style="text-decoration: none;">
                <div class="product-img">
                    <img class="img-link" src=<%=data.dataValues.path_anh_noi_bat%>>
                </div>

                <div class="product-info">
                    <div class="phongtro-chungcu">
                        <%=data.dataValues.phan_loai%>
                    </div>
                    <div class="info-title">
                        <%=data.dataValues.ten_phong%>
                    </div>
                    <div class="info-category">
                        <span>Diện tích <%=data.dataValues.dien_tich%> m2</span>
                        <span>·</span>
                        <span class="so-nguoi"><%=data.dataValues.tong_so_nguoi%> người</span>
                    </div>
                    <div class="price">
                        <%= Number(data.dataValues.gia_phong).toLocaleString("en") %> đ/1 tháng
                    </div>
                    <div class="address">
                        <%=data.dataValues.thanh_pho%> -
                            <%=data.dataValues.quan_huyen%> -
                                <%=data.dataValues.phuong_xa%>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <%})} %>