<%
if(userData.length!=0){
userData.forEach(function(data){
  console.log(data.dataValues.id_phong_tro);
%>
    <div class="col-md-3 col-sm-6">
        <div class="product-card">
            <a href="/room/<%=data.dataValues.id_phong_tro%>" style="text-decoration: none;">
                <div class="product-img">
                    <img class="img-link" data-src=<%=data.dataValues.path_anh_noi_bat%>>
                </div>

                <div class="lazy product-info" data-loader="asyncLoader">
                    <div class="phongtro-chungcu" data-loader="asyncLoader">
                        <%=data.dataValues.phan_loai%>
                    </div>
                    <div class="lazy info-title" data-loader="asyncLoader">
                        <%=data.dataValues.ten_phong%>
                    </div>
                    <div class="lazy info-category" data-loader="asyncLoader">
                        <span>Diện tích <%=data.dataValues.dien_tich%> m<sup>2</sup></span>
                        <span>·</span>
                        <span class="so-nguoi"><%=data.dataValues.tong_so_nguoi%> người</span>
                    </div>
                    <div class="lazy price" data-loader="asyncLoader">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;height:15px;width:15px;vertical-align: middle;" xml:space="preserve" class = "svg-price"><g><g><path d="M437.02,74.98C388.668,26.628,324.38,0,256,0S123.332,26.628,74.98,74.98C26.629,123.332,0,187.62,0,256    s26.629,132.668,74.98,181.02C123.332,485.372,187.62,512,256,512s132.668-26.628,181.02-74.98    C485.371,388.668,512,324.38,512,256S485.371,123.332,437.02,74.98z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30    s226,101.383,226,226S380.617,482,256,482z"/></g></g><g><g><path d="M272.067,241h-32.134c-18.307,0-33.2-14.893-33.2-33.199c0-18.307,14.894-33.2,33.2-33.2H304.2c8.284,0,15-6.716,15-15    s-6.716-15-15-15H271v-33.2c0-8.284-6.716-15-15-15s-15,6.716-15,15v33.2h-1.066c-34.849,0-63.2,28.352-63.2,63.2    c0,34.848,28.352,63.199,63.2,63.199h32.134c18.306,0,33.199,14.894,33.199,33.2c0,18.306-14.893,33.2-33.199,33.2h-64.267    c-8.284,0-15,6.716-15,15s6.716,15,15,15H241v33.201c0,8.284,6.716,15,15,15s15-6.716,15-15V367.4h1.067    c34.848,0,63.199-28.352,63.199-63.2S306.915,241,272.067,241z"/></g></g></svg>
                        <%= Number(data.dataValues.gia_phong).toLocaleString("en") %>
                            đ/ <sub>1 tháng</sub>
                    </div>
                    <div class="lazy address" data-loader="asyncLoader">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;height: 15px;width: 15px;" xml:space="preserve">
                        <path style="fill:#FF7C48;" d="M409.126,63.424C368.227,22.524,313.84,0,255.995,0C198.16,0,143.773,22.524,102.874,63.424  S39.45,158.71,39.45,216.555c0,117.01,110.642,214.336,170.077,266.622c8.258,7.258,15.396,13.537,21.075,18.845  c7.118,6.648,16.256,9.977,25.394,9.977c9.138,0,18.275-3.329,25.404-9.977c5.679-5.309,12.817-11.587,21.075-18.845  c59.435-52.287,170.077-149.612,170.077-266.622C472.55,158.71,450.026,104.324,409.126,63.424z M255.995,303.803  c-52.617,0-95.426-42.809-95.426-95.436c0-52.617,42.809-95.426,95.426-95.426c52.627,0,95.436,42.809,95.436,95.426  C351.431,260.994,308.622,303.803,255.995,303.803z"/>
                        <path style="fill:#FF4C04;" d="M472.55,216.555c0,117.01-110.642,214.336-170.077,266.622c-8.258,7.258-15.396,13.537-21.075,18.845  c-7.128,6.648-16.266,9.977-25.404,9.977V303.803c52.627,0,95.436-42.809,95.436-95.436c0-52.617-42.809-95.426-95.436-95.426V0  c57.845,0,112.232,22.524,153.131,63.424S472.55,158.71,472.55,216.555z"/>
                        </svg>
                        <%=data.dataValues.thanh_pho%> -
                            <%=data.dataValues.quan_huyen%> -
                                <%=data.dataValues.phuong_xa%>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <%})} %>