<div class="row">
    <!-- hiển thị phân trang nếu có trang -->
    <% if(pages > 0) { %>
        <nav class="mx-auto" id="paginate">
            <ul class="pagination" style="padding: 30px;">
                <!-- FIRST ITEM -->
                <% if(current == 1) { %>
                    <li class="page-item disabled" id="arrow-left">
                        <a class="page-link" href="../<%=type%>/1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;width:10px;height:10px;margin-top:2px" xml:space="preserve"><g><g id="_x34__11_"><g><path d="M124.172,305.975L342.365,87.781c20.079-20.079,20.079-52.644,0-72.722c-20.079-20.079-52.644-20.079-72.723,0     L15.062,269.639c-20.079,20.079-20.079,52.644,0,72.723l254.58,254.58c20.079,20.078,52.644,20.078,72.723,0     c20.079-20.079,20.079-52.644,0-72.723L124.172,305.975z M431.395,305.694l165.371-165.982c20.308-20.359,20.308-53.408,0-73.768     c-20.309-20.359-53.204-20.359-73.513,0L321.139,268.823c-20.309,20.359-17.047,35.266,3.032,55.345L523.253,545.47     c20.309,20.359,53.204,20.359,73.513,0c20.308-20.359,20.308-53.408,0-73.768L431.395,305.694z"/></g></g></g></svg></a>
                    </li>
                    <% } else { %>
                        <li class="page-item" id="arrow-left">
                            <a class="page-link" href="../<%=type%>/1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;width:10px;height:10px;margin-top:2px" xml:space="preserve"><g><g id="_x34__11_"><g><path d="M124.172,305.975L342.365,87.781c20.079-20.079,20.079-52.644,0-72.722c-20.079-20.079-52.644-20.079-72.723,0     L15.062,269.639c-20.079,20.079-20.079,52.644,0,72.723l254.58,254.58c20.079,20.078,52.644,20.078,72.723,0     c20.079-20.079,20.079-52.644,0-72.723L124.172,305.975z M431.395,305.694l165.371-165.982c20.308-20.359,20.308-53.408,0-73.768     c-20.309-20.359-53.204-20.359-73.513,0L321.139,268.823c-20.309,20.359-17.047,35.266,3.032,55.345L523.253,545.47     c20.309,20.359,53.204,20.359,73.513,0c20.308-20.359,20.308-53.408,0-73.768L431.395,305.694z"/></g></g></g></svg></a>
                        </li>
                        <% } %>
                            <!-- ITEMS  -->
                            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                                <% if(i !== 1) { %>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <% } %>
                                        <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                            <% if(i == current) { %>
                                                <li class="page-item active">
                                                    <a class="page-link" href="../<%=type%>/<%= i %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } else { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="../<%=type%>/<%= i %>">
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% if (i == Number(current) + 2 && i < pages) { %>
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="#">...</a>
                                                            </li>
                                                            <% } %>
                                                                <% } %>
                                                                    <!-- LAST ITEM -->
                                                                    <% if(current == pages) { %>
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 284.936 284.936" style="enable-background:new 0 0 284.936 284.936;width:10px;height:10px;margin-top:2px"
                                                                                    xml:space="preserve"><g><g><path d="M277.515,135.9L144.464,2.857C142.565,0.955,140.375,0,137.9,0c-2.472,0-4.659,0.955-6.562,2.857l-14.277,14.275    c-1.903,1.903-2.853,4.089-2.853,6.567c0,2.478,0.95,4.664,2.853,6.567l112.207,112.204L117.062,254.677    c-1.903,1.903-2.853,4.093-2.853,6.564c0,2.477,0.95,4.667,2.853,6.57l14.277,14.271c1.902,1.905,4.089,2.854,6.562,2.854    c2.478,0,4.665-0.951,6.563-2.854l133.051-133.044c1.902-1.902,2.851-4.093,2.851-6.567S279.417,137.807,277.515,135.9z"/><path d="M170.732,142.471c0-2.474-0.947-4.665-2.857-6.571L34.833,2.857C32.931,0.955,30.741,0,28.267,0s-4.665,0.955-6.567,2.857    L7.426,17.133C5.52,19.036,4.57,21.222,4.57,23.7c0,2.478,0.95,4.664,2.856,6.567L119.63,142.471L7.426,254.677    c-1.906,1.903-2.856,4.093-2.856,6.564c0,2.477,0.95,4.667,2.856,6.57l14.273,14.271c1.903,1.905,4.093,2.854,6.567,2.854    s4.664-0.951,6.567-2.854l133.042-133.044C169.785,147.136,170.732,144.945,170.732,142.471z"/></g></g></svg>
                                                                            </a>
                                                                        </li>
                                                                        <% } else { %>
                                                                            <li class="page-item">
                                                                                <a class="page-link" href="../<%=type%>/<%= pages %>">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 284.936 284.936" style="enable-background:new 0 0 284.936 284.936;width:10px;height:10px;margin-top:2px"
                                                                                        xml:space="preserve"><g><g><path d="M277.515,135.9L144.464,2.857C142.565,0.955,140.375,0,137.9,0c-2.472,0-4.659,0.955-6.562,2.857l-14.277,14.275    c-1.903,1.903-2.853,4.089-2.853,6.567c0,2.478,0.95,4.664,2.853,6.567l112.207,112.204L117.062,254.677    c-1.903,1.903-2.853,4.093-2.853,6.564c0,2.477,0.95,4.667,2.853,6.57l14.277,14.271c1.902,1.905,4.089,2.854,6.562,2.854    c2.478,0,4.665-0.951,6.563-2.854l133.051-133.044c1.902-1.902,2.851-4.093,2.851-6.567S279.417,137.807,277.515,135.9z"/><path d="M170.732,142.471c0-2.474-0.947-4.665-2.857-6.571L34.833,2.857C32.931,0.955,30.741,0,28.267,0s-4.665,0.955-6.567,2.857    L7.426,17.133C5.52,19.036,4.57,21.222,4.57,23.7c0,2.478,0.95,4.664,2.856,6.567L119.63,142.471L7.426,254.677    c-1.906,1.903-2.856,4.093-2.856,6.564c0,2.477,0.95,4.667,2.856,6.57l14.273,14.271c1.903,1.905,4.093,2.854,6.567,2.854    s4.664-0.951,6.567-2.854l133.042-133.044C169.785,147.136,170.732,144.945,170.732,142.471z"/></g></g></svg>
                                                                                </a>
                                                                            </li>
                                                                            <% } %>
            </ul>
        </nav>
        <% } %>
</div>